Repository typedb/typedb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @haikalpribadi, @flyingsilverfin, @lolski

.github/CODEOWNERS:

/.github                   @haikalpribadi
/.grabl                    @haikalpribadi
/bin                       @haikalpribadi
/common                    @haikalpribadi
/concept                   @haikalpribadi
/config                    @haikalpribadi
/dependencies              @haikalpribadi
/docs                      @haikalpribadi
/graph                     @haikalpribadi
/logic                     @flyingsilverfin
/pattern                   @haikalpribadi
/query                     @haikalpribadi
/reasoner                  @flyingsilverfin
/database                  @haikalpribadi
/server                    @haikalpribadi
/test                      @haikalpribadi
/test/integration/logic    @flyingsilverfin
/traversal                 @haikalpribadi


/*.java                    @haikalpribadi
/.bazel*                   @haikalpribadi
/.gitignore                @haikalpribadi
/LICENSE                   @haikalpribadi
/README.md                 @haikalpribadi
/VERSION                   @haikalpribadi
/WORKSPACE                 @haikalpribadi
/deployment.bzl            @haikalpribadi

**BUILD                    @haikalpribadi @lolski

Rename 'test/integration/rocks' to 'test/integration/database'
  test/integration/database/BUILD
  test/integration/database/DatabaseTest.java
  test/integration/database/data/test/data/CURRENT
  test/integration/database/data/test/data/IDENTITY
  test/integration/database/data/test/data/LOG
  test/integration/database/data/test/data/MANIFEST-000003
  test/integration/database/data/test/data/OPTIONS-000006
  test/integration/database/data/test/schema/CURRENT
  test/integration/database/data/test/schema/IDENTITY
  test/integration/database/data/test/schema/LOG
  test/integration/database/data/test/schema/MANIFEST-000003
  test/integration/database/data/test/schema/OPTIONS-000006
  test/integration/statistics/BUILD
Owners: @haikalpribadi, @lolski

Remove unused deps
  test/integration/database/BUILD
Owners: @haikalpribadi, @lolski

Regenerate package structure docs
  docs/package-structure.dot
  docs/package-structure.png
Owners: @haikalpribadi

Fix test package name
  test/integration/database/DatabaseTest.java
Owners: @haikalpribadi

Remove unused files
  docs/.dot
  docs/.png
Owners: @haikalpribadi

Revert the file name that got accidentally updated
  server/test/BUILD
  server/test/ConfigurationTest.java
Owners: @haikalpribadi, @lolski

Implement Root and Nested Disjunctions and Nested Conjunction.
  reasoner/ReasonerProducer.java
  reasoner/controller/ConditionController.java
  reasoner/controller/ConjunctionController.java
  reasoner/controller/DisjunctionController.java
  reasoner/controller/NestedConjunctionController.java
  reasoner/controller/NestedDisjunctionController.java
  reasoner/controller/RootDisjunctionController.java
  reasoner/resolution/ControllerRegistry.java
  test/integration/reasoner/resolution/ResolutionTest.java
Owners: @flyingsilverfin, @haikalpribadi

Revert the variable name according to the type
  database/CoreStorage.java
Owners: @haikalpribadi

Rename CoreStorage to RocksStorage
  database/CoreDatabase.java
  database/CoreFactory.java
  database/CoreTransaction.java
  database/Factory.java
  database/RocksIterator.java
  database/RocksStorage.java
Owners: @haikalpribadi

Rename databaseManager -> databaseMgr
  database/CoreDatabase.java
  database/CoreFactory.java
  database/Factory.java
  migrator/MigratorService.java
  migrator/data/DataExporter.java
  server/TypeDBServer.java
  server/TypeDBService.java
  test/behaviour/connection/ConnectionSteps.java
  test/behaviour/connection/database/DatabaseSteps.java
  test/behaviour/connection/session/SessionSteps.java
  test/behaviour/reasoner/ReasonerSteps.java
  test/behaviour/reasoner/verification/test/CorrectnessVerifierTest.java
  test/behaviour/reasoner/verification/test/MaterialiserTest.java
  test/integration/ConsistencyTest.java
  test/integration/database/DatabaseTest.java
  test/integration/logic/RuleTest.java
  test/integration/logic/TypeInferenceTest.java
  test/integration/logic/resolvable/UnifyAttributeConcludableTest.java
  test/integration/logic/resolvable/UnifyHasConcludableTest.java
  test/integration/logic/resolvable/UnifyIsaConcludableTest.java
  test/integration/logic/resolvable/UnifyRelationConcludableTest.java
  test/integration/migrator/MigratorTest.java
  test/integration/reasoner/ExplanationTest.java
  test/integration/reasoner/ReasonerTest.java
  test/integration/reasoner/resolution/PlannerTest.java
  test/integration/reasoner/resolution/ReiterationTest.java
  test/integration/reasoner/resolution/ResolutionTest.java
  test/integration/statistics/StatisticsTest.java
  test/integration/traversal/TraversalTest.java
Owners: @haikalpribadi, @flyingsilverfin

Rename options -> databaseOptions
  database/CoreDatabaseManager.java
  server/conf/typedb.yml
Owners: @haikalpribadi

Rename typeDBFactory -> factory
  database/CoreDatabaseManager.java
Owners: @haikalpribadi

Fix connection requests accessing the registry to get controllers.
  reasoner/computation/actor/Connection.java
  reasoner/computation/actor/Controller.java
  reasoner/computation/actor/Processor.java
  reasoner/controller/ConcludableController.java
  reasoner/controller/ConclusionController.java
  reasoner/controller/ConditionController.java
  reasoner/controller/ConjunctionController.java
  reasoner/controller/DisjunctionController.java
  reasoner/controller/MaterialiserController.java
  reasoner/controller/NestedConjunctionController.java
  reasoner/controller/NestedDisjunctionController.java
  reasoner/controller/RetrievableController.java
  reasoner/controller/RootConjunctionController.java
  reasoner/controller/RootDisjunctionController.java
  reasoner/controller/TraversalUtils.java
  reasoner/resolution/ControllerRegistry.java
Owners: @flyingsilverfin

Add exception handling for controllers and processors
  reasoner/computation/actor/Controller.java
  reasoner/computation/actor/Processor.java
Owners: @flyingsilverfin

Fix a bug with disjunctions - nested conjunctions shouldn't be kept in a map in the registry because: 1. We don't need idempotent registration 2. Conjunction equality is ill-defined
  reasoner/computation/actor/Processor.java
  reasoner/resolution/ControllerRegistry.java
  test/integration/reasoner/resolution/ResolutionTest.java
Owners: @flyingsilverfin, @haikalpribadi

Update @vaticle_dependencies
  .grabl/automation.yml
  BUILD
  dependencies/vaticle/repositories.bzl
Owners: @haikalpribadi, @lolski

Build graceful termination of all controllers, processors and the registry upon an exception, and make sure that exception's message is visible.
  common/exception/ErrorMessage.java
  common/exception/TypeDBException.java
  reasoner/ReasonerProducer.java
  reasoner/computation/actor/Controller.java
  reasoner/computation/actor/Processor.java
  reasoner/controller/RootConjunctionController.java
  reasoner/controller/RootDisjunctionController.java
  reasoner/resolution/ControllerRegistry.java
  test/integration/reasoner/ReasonerTest.java
  test/integration/reasoner/resolution/ResolutionTest.java
Owners: @haikalpribadi, @flyingsilverfin

Implement NegationController and Processor. Won't work yet because we first need a mechanism to detect when there are no more answers to be found.
  reasoner/controller/ConjunctionController.java
  reasoner/controller/DisjunctionController.java
  reasoner/controller/NegationController.java
  reasoner/controller/NestedDisjunctionController.java
  reasoner/resolution/ControllerRegistry.java
Owners: @flyingsilverfin

Move all request types inside their respective processors
  reasoner/controller/ConcludableController.java
  reasoner/controller/ConjunctionController.java
Owners: @flyingsilverfin

There were still leftover occurrences of using "pub" to refer to something that's actually a "provider". Chaged to "Prov" throughout
  reasoner/computation/actor/Connection.java
  reasoner/computation/actor/Controller.java
  reasoner/computation/actor/Processor.java
  reasoner/controller/ConcludableController.java
  reasoner/controller/ConjunctionController.java
  reasoner/controller/DisjunctionController.java
Owners: @flyingsilverfin

Same goes for subscriber and receiver
  reasoner/computation/actor/Connection.java
  reasoner/computation/actor/Processor.java
Owners: @flyingsilverfin

Change argument order for controllers.
  reasoner/computation/actor/Controller.java
  reasoner/computation/actor/Processor.java
  reasoner/controller/ConcludableController.java
  reasoner/controller/ConclusionController.java
  reasoner/controller/ConjunctionController.java
  reasoner/controller/DisjunctionController.java
  reasoner/controller/MaterialiserController.java
  reasoner/controller/NegationController.java
  reasoner/controller/RetrievableController.java
Owners: @flyingsilverfin

Remove tracing from ResolutionTest.
  test/integration/reasoner/resolution/ResolutionTest.java
Owners: @haikalpribadi

Use planner in conjunctions.
  reasoner/controller/ConjunctionController.java
Owners: @flyingsilverfin

Delete old reasoner code. Patch ExplanationProducer so that it builds.
  reasoner/BUILD
  reasoner/ExplanationProducer.java
  reasoner/resolution/ControllerRegistry.java
  reasoner/resolution/answer/AnswerState.java
  reasoner/resolution/answer/AnswerStateImpl.java
  reasoner/resolution/answer/AnswerStateTest.java
  reasoner/resolution/framework/AnswerCache.java
  reasoner/resolution/framework/Materialiser.java
  reasoner/resolution/framework/ReasonerActor.java
  reasoner/resolution/framework/Request.java
  reasoner/resolution/framework/ResolutionTracer.java
  reasoner/resolution/framework/Resolver.java
  reasoner/resolution/framework/Response.java
  reasoner/resolution/resolver/BoundConcludableResolver.java
  reasoner/resolution/resolver/BoundConclusionResolver.java
  reasoner/resolution/resolver/BoundRetrievableResolver.java
  reasoner/resolution/resolver/CompoundResolver.java
  reasoner/resolution/resolver/ConcludableResolver.java
  reasoner/resolution/resolver/ConclusionResolver.java
  reasoner/resolution/resolver/ConditionResolver.java
  reasoner/resolution/resolver/ConjunctionResolver.java
  reasoner/resolution/resolver/DisjunctionResolver.java
  reasoner/resolution/resolver/NegationResolver.java
  reasoner/resolution/resolver/RetrievableResolver.java
  reasoner/resolution/resolver/RootResolver.java
  reasoner/resolution/resolver/SubsumptiveCoordinator.java
Owners: @haikalpribadi, @lolski, @flyingsilverfin

Update @vaticle_dependencies (#6509)
  .grabl/automation.yml
  BUILD
  dependencies/vaticle/repositories.bzl
Owners: @haikalpribadi, @lolski

Add packet monitoring hooks from processors into reactives. Required initialising outlets in the actor setup to be able to reference the processor itself via `this`.
  reasoner/ReasonerProducer.java
  reasoner/computation/actor/Processor.java
  reasoner/computation/reactive/BufferBroadcastReactive.java
  reasoner/computation/reactive/CompoundReactive.java
  reasoner/computation/reactive/FindFirstReactive.java
  reasoner/computation/reactive/FlatMapOrRetryReactive.java
  reasoner/computation/reactive/ForEachReactive.java
  reasoner/computation/reactive/IdentityReactive.java
  reasoner/computation/reactive/MapReactive.java
  reasoner/computation/reactive/PacketMonitor.java
  reasoner/computation/reactive/PublisherImpl.java
  reasoner/computation/reactive/ReactiveBase.java
  reasoner/computation/reactive/ReactiveImpl.java
  reasoner/computation/reactive/Source.java
  reasoner/controller/ConcludableController.java
  reasoner/controller/ConclusionController.java
  reasoner/controller/ConditionController.java
  reasoner/controller/ConjunctionController.java
  reasoner/controller/DisjunctionController.java
  reasoner/controller/MaterialiserController.java
  reasoner/controller/NegationController.java
  reasoner/controller/NestedConjunctionController.java
  reasoner/controller/RetrievableController.java
  reasoner/controller/RootConjunctionController.java
  reasoner/controller/RootDisjunctionController.java
Owners: @flyingsilverfin

filter type inference permutations for efficiency
  logic/Rule.java
  logic/tool/TypeInference.java
Owners: @flyingsilverfin

Implement termination detection. Some ResolutionTests passing.
  reasoner/ReasonerProducer.java
  reasoner/computation/actor/Connection.java
  reasoner/computation/actor/Processor.java
  reasoner/computation/reactive/BufferBroadcastReactive.java
  reasoner/computation/reactive/FindFirstReactive.java
  reasoner/computation/reactive/FlatMapOrRetryReactive.java
  reasoner/computation/reactive/PacketMonitor.java
  reasoner/computation/reactive/ReactiveBase.java
  reasoner/computation/reactive/ReactiveImpl.java
  reasoner/computation/reactive/Sink.java
  reasoner/computation/reactive/Source.java
  reasoner/controller/ConclusionController.java
  reasoner/controller/RootConjunctionController.java
  reasoner/controller/RootDisjunctionController.java
  test/integration/reasoner/resolution/ResolutionTest.java
Owners: @flyingsilverfin, @haikalpribadi

Fix bugs: connection could be null if not established, so keep a record of the established upstream connections. Was previously inadvertently using the downstream connections, which hid the above bug.
  reasoner/computation/actor/Processor.java
Owners: @flyingsilverfin
