Repository typedb/typedb, pull requests merged in 2018-11, with the labels that each got.

#4536 Developer guide to build Grakn with Bazel
  docs/pages/contributors/3-build-guide.md
Labels: build, v1.5

#4546 Delete BatchExecutorClient and replace any usage with ai.grakn.client.Grakn
  .circleci/config.yml
  client-java/BUILD
  client-java/src/Grakn.java
  client-java/src/batch/BatchExecutorClient.java
  client-java/src/batch/Client.java
  client-java/src/batch/GraknClient.java
  client-java/src/batch/GraknClientException.java
  client-java/src/batch/GraknClientImpl.java
  client-java/src/batch/QueryResponse.java
  client-java/src/batch/package-info.java
  client-java/src/benchmark/GrpcClientInterceptor.java
  client-java/src/benchmark/GrpcMessageConversion.java
  client-java/src/concept/RemoteAttribute.java
  client-java/src/concept/RemoteAttributeType.java
  client-java/src/concept/RemoteConcept.java
  client-java/src/concept/RemoteEntity.java
  client-java/src/concept/RemoteEntityType.java
  client-java/src/concept/RemoteMetaType.java
  client-java/src/concept/RemoteRelationship.java
  client-java/src/concept/RemoteRelationshipType.java
  client-java/src/concept/RemoteRole.java
  client-java/src/concept/RemoteRule.java
  client-java/src/concept/RemoteSchemaConcept.java
  client-java/src/concept/RemoteThing.java
  client-java/src/concept/RemoteType.java
  client-java/src/executor/RemoteComputeExecutor.java
  client-java/src/executor/RemoteQueryExecutor.java
  client-java/src/rpc/RequestBuilder.java
  client-java/src/rpc/ResponseReader.java
  client-java/src/rpc/Transceiver.java
  console/src/BatchLoader.java
  console/src/GraqlConsole.java
  console/src/GraqlShellOptions.java
  dependencies/maven/artifacts/com/netflix/archaius/BUILD
  dependencies/maven/artifacts/com/netflix/hystrix/BUILD
  dependencies/maven/artifacts/com/sun/jersey/BUILD
  dependencies/maven/artifacts/org/hdrhistogram/BUILD
  dependencies/maven/dependencies.bzl
  dependencies/maven/dependencies.yaml
  test-integration/BUILD
  test-integration/test/batch/BUILD
  test-integration/test/batch/BatchExecutorClientIT.java
  test-integration/test/graql/reasoner/BUILD
  test-integration/test/graql/reasoner/BenchmarkIT.java
Labels: refactor, v1.5

#4560 Split runtime deps out of compile time deps
  client-java/BUILD
  console/BUILD
  dependencies/maven/artifacts/io/netty/BUILD
  dependencies/maven/artifacts/net/jodah/BUILD
  dependencies/maven/dependencies.bzl
  dependencies/maven/dependencies.yaml
  grakn-graql/BUILD
  server/BUILD
Labels: build, refactor, v1.5

#4580 add the github pull request template back
  .github/pull_request_template.md
Labels: refactor

#4581 Fixed tests in SchemaMutationIT.java
  test-integration/test/internal/concept/SchemaMutationIT.java
Labels: bug, v1.5

#4583 Temporarily reduce the size of chained rules to not hit GRPC limit
  test-integration/test/graql/reasoner/benchmark/BenchmarkBigIT.java
Labels: bug, v1.5

#4565 Relationships panel
  workbase/src/renderer/components/Visualiser/RightBar/ConceptInfoTab.vue
  workbase/src/renderer/components/Visualiser/RightBar/ConceptInfoTab/AttributesPanel.vue
  workbase/src/renderer/components/Visualiser/RightBar/ConceptInfoTab/IdentityPanel.vue
  workbase/src/renderer/components/Visualiser/RightBar/ConceptInfoTab/RelationshipsPanel.vue
  workbase/src/renderer/components/Visualiser/RightBar/SettingsTab.vue
  workbase/src/renderer/components/Visualiser/RightBar/SettingsTab/DisplaySettingsPanel.vue
  workbase/static/styles/style.css
  workbase/test/e2e/FavQueries.test.js
  workbase/test/e2e/RelationshipsPanel.test.js
Labels: feature, in progress, v1.5, workbase

#4586 Change maven.grakn.ai URL from test to the real one
  deployment.properties
Labels: bug, v1.5

#4587 Fix AtomicQueryUnificationIT flakey test
  test-integration/test/graql/reasoner/atomic-query/AtomicQueryUnificationIT.java
Labels: bug, v1.5

#4588 Adding maven deploy rule for //util package
  util/BUILD
Labels: feature, v1.5

#4537 System preferences
  workbase/src/renderer/components/ManageKeyspaces/CreateKeyspaceCard.vue
  workbase/src/renderer/components/ManageKeyspaces/ImportCard.vue
  workbase/src/renderer/components/ManageKeyspaces/KeyspacesPage.vue
  workbase/src/renderer/components/Visualiser/ConnectionManager.vue
  workbase/src/renderer/components/Visualiser/KeyspaceManager.vue
  workbase/src/renderer/components/Visualiser/Preferences.vue
  workbase/src/renderer/components/Visualiser/RightBar/SettingsTab.vue
  workbase/src/renderer/components/Visualiser/TopBar.vue
  workbase/src/renderer/components/Visualiser/VisTab.vue
  workbase/src/renderer/store/actions.js
  workbase/static/styles/style.css
  workbase/test/unit/components/store/actions.test.js
Labels: feature, in progress, v1.5, workbase

#4568 Integrate Workbase with bazel workflow
  .bazelignore
  .circleci/config.yml
  WORKSPACE
  workbase/.electron-vue/build.js
  workbase/.electron-vue/webpack.main.config.js
  workbase/.electron-vue/webpack.renderer.config.js
  workbase/.electron-vue/webpack.web.config.js
  workbase/BUILD.bazel
  workbase/builder/BUILD
  workbase/builder/npm-run-build.sh
  workbase/builder/npm-test.sh
  workbase/package.json
Labels: workbase

#4595 Removed prepare_apt and install_node completely
  .circleci/config.yml
Labels: build, v1.5

#4598 Extract Tracing Instrumentation out of `grakn.core` into `benchmark.lib`
  client-java/BUILD
  client-java/src/Grakn.java
  client-java/src/benchmark/GrpcClientInterceptor.java
  client-java/src/benchmark/GrpcMessageConversion.java
  client-java/src/rpc/Transceiver.java
  dependencies/maven/artifacts/grakn/benchmark/BUILD
  dependencies/maven/artifacts/grakn/core/BUILD
  dependencies/maven/dependencies.bzl
  dependencies/maven/dependencies.yaml
  server/BUILD
  server/src/server/ServerFactory.java
  server/src/server/benchmark/GrpcMessageConversion.java
  server/src/server/rpc/SessionService.java
Labels: refactor, v1.5

#4602 Cleaning up helper classes in server
  client-java/src/Grakn.java
  client-java/src/concept/RemoteConcept.java
  client-java/src/rpc/RequestBuilder.java
  client-java/test/TransactionTest.java
  config/findbugs/findbugs-exclude.xml
  console/src/GraqlConsole.java
  console/src/GraqlShell.java
  console/src/GraqlShellOptions.java
  server/src/graql/concept/Concept.java
  server/src/server/Server.java
  server/src/server/ServerFactory.java
  server/src/server/Session.java
  server/src/server/Transaction.java
  server/src/server/deduplicator/AttributeDeduplicatorDaemon.java
  server/src/server/deduplicator/KeyspaceIndexPair.java
  server/src/server/deduplicator/queue/Attribute.java
  server/src/server/deduplicator/queue/RocksDbQueue.java
  server/src/server/exception/GraknBackendException.java
  server/src/server/exception/TransactionException.java
  server/src/server/kb/concept/ConceptImpl.java
  server/src/server/kb/concept/RelationshipEdge.java
  server/src/server/kb/concept/RelationshipImpl.java
  server/src/server/kb/concept/RelationshipStructure.java
  server/src/server/keyspace/Keyspace.java
  server/src/server/keyspace/KeyspaceManager.java
  server/src/server/keyspace/KeyspaceStore.java
  server/src/server/rpc/KeyspaceService.java
  server/src/server/rpc/OpenRequest.java
  server/src/server/rpc/ServerOpenRequest.java
  server/src/server/rpc/SessionService.java
  server/src/server/session/SessionImpl.java
  server/src/server/session/SessionStore.java
  server/src/server/session/TransactionImpl.java
  server/src/server/util/LockManager.java
  server/src/server/util/ServerLockManager.java
  server/test/server/deduplicator/RocksDbQueueTest.java
  server/test/server/keyspace/KeyspaceTest.java
  server/test/server/rpc/ServerRPCTest.java
  server/test/server/util/BUILD
  server/test/server/util/ServerLockManagerTest.java
  test-end-to-end/client-java/ClientJavaE2E.java
  test-end-to-end/deduplicator/AttributeDeduplicatorE2E.java
  test-integration/client/RemoteConceptIT.java
  test-integration/client/RemoteQueryIT.java
  test-integration/graql/reasoner/benchmark/BenchmarkBigIT.java
  test-integration/rule/ConcurrentGraknServer.java
  test-integration/rule/ServerContext.java
  test-integration/server/ServerStartIT.java
Labels: refactor, v1.5

#4603 Removed ServerRPC and ServerStatus classes
  server/src/server/Server.java
  server/src/server/ServerFactory.java
  server/src/server/ServerRPC.java
  server/src/server/ServerStatus.java
  server/src/server/rpc/SessionService.java
  server/test/server/rpc/ServerRPCTest.java
  test-integration/client/RemoteQueryIT.java
  test-integration/rule/ConcurrentGraknServer.java
  test-integration/rule/ServerContext.java
Labels: refactor, v1.5

#4615 Refactored reasoner integration tests
  .circleci/config.yml
  test-integration/client/BUILD
  test-integration/graql/analytics/BUILD
  test-integration/graql/internal/BUILD
  test-integration/graql/reasoner/BUILD
  test-integration/graql/reasoner/ReasoningIT.java
  test-integration/graql/reasoner/atomic/BUILD
  test-integration/graql/reasoner/benchmark/BUILD
  test-integration/graql/reasoner/cache/BUILD
  test-integration/graql/reasoner/query/AtomicQueryUnificationIT.java
  test-integration/graql/reasoner/query/BUILD
  test-integration/graql/reasoner/query/ExplanationIT.java
  test-integration/graql/reasoner/query/OntologicalQueryIT.java
  test-integration/graql/reasoner/query/QueryIT.java
  test-integration/graql/reasoner/query/QueryValidityIT.java
  test-integration/graql/reasoner/query/ResolutionPlanIT.java
  test-integration/graql/reasoner/query/pattern/RelationPattern.java
  test-integration/graql/reasoner/query/pattern/ResourcePattern.java
  test-integration/graql/reasoner/query/pattern/TestQueryPattern.java
  test-integration/graql/reasoner/query/pattern/TypePattern.java
  test-integration/graql/shell/BUILD
  test-integration/rule/BUILD
  test-integration/server/BUILD
  test-integration/server/kb/BUILD
  test-integration/server/kb/concept/BUILD
  test-integration/server/kb/structure/BUILD
Labels: build, refactor, v1.5

#4606 Fix catastrophic backtracking of evil regex
  workbase/src/renderer/components/Visualiser/VisualiserUtils.js
  workbase/test/unit/components/Visualiser/VisualiserUtils.test.js
Labels: bug, in progress, v1.5, workbase

#4617 Extracted Daemon (aka. Bootup) to its own module
  commons/config/SystemProperty.java
  daemon/BUILD
  daemon/DaemonExecutor.java
  daemon/GraknDaemon.java
  daemon/GraknDaemonException.java
  daemon/LICENSE
  daemon/ServerDaemon.java
  daemon/StorageDaemon.java
  grakn
  grakn.bat
  server/BUILD
  server/conf/grakn.properties
Labels: refactor, v1.5

#4626 Terminology cleanup
  workbase/src/renderer/components/EngineSettings.js
  workbase/src/renderer/components/ServerSettings.js
  workbase/src/renderer/components/Visualiser/ConnectionManager.vue
  workbase/src/renderer/main.js
  workbase/src/renderer/store/actions.js
  workbase/src/renderer/store/index.js
  workbase/src/renderer/store/modules/settings.js
  workbase/test/unit/EngineSettings.test.js
Labels: feature, v1.5, workbase

#4627 Setup Performance Tests
  workbase/package.json
  workbase/test/unit/components/Visualiser/performance.test.js
Labels: feature, v1.5, workbase

#4638 Cleaning up Graql
  client-java/test/GraknClientIT.java
  console/ConsoleSession.java
  server/src/graql/exception/GraqlQueryException.java
  server/src/graql/grammar/GraqlTemplate.g4
  server/src/graql/internal/template/Scope.java
  server/src/graql/internal/template/TemplateParser.java
  server/src/graql/internal/template/TemplateVisitor.java
  server/src/graql/internal/template/macro/AbstractNumericMacro.java
  server/src/graql/internal/template/macro/BooleanMacro.java
  server/src/graql/internal/template/macro/ConcatMacro.java
  server/src/graql/internal/template/macro/DateMacro.java
  server/src/graql/internal/template/macro/DoubleMacro.java
  server/src/graql/internal/template/macro/EqualsMacro.java
  server/src/graql/internal/template/macro/IntMacro.java
  server/src/graql/internal/template/macro/LongMacro.java
  server/src/graql/internal/template/macro/LowerMacro.java
  server/src/graql/internal/template/macro/NoescpMacro.java
  server/src/graql/internal/template/macro/SplitMacro.java
  server/src/graql/internal/template/macro/StringMacro.java
  server/src/graql/internal/template/macro/Unescaped.java
  server/src/graql/internal/template/macro/UpperMacro.java
  server/src/graql/macro/Macro.java
  server/src/graql/parser/QueryParser.java
  server/src/graql/printer/Printer.java
  server/src/graql/printer/StringPrinter.java
  server/src/graql/query/ComputeQuery.java
  server/src/graql/query/GetQuery.java
  server/src/graql/query/Graql.java
  server/src/graql/query/QueryBuilder.java
  server/src/graql/query/aggregate/Aggregates.java
  server/src/graql/query/aggregate/CountAggregate.java
  server/src/graql/query/aggregate/GroupAggregate.java
  server/src/graql/query/aggregate/MaxAggregate.java
  server/src/graql/query/aggregate/MeanAggregate.java
  server/src/graql/query/aggregate/MedianAggregate.java
  server/src/graql/query/aggregate/MinAggregate.java
  server/src/graql/query/aggregate/StdAggregate.java
  server/src/graql/query/aggregate/SumAggregate.java
  server/test/graql/internal/template/BUILD
  server/test/graql/internal/template/TemplateParserTest.java
  server/test/graql/internal/template/macro/BUILD
  server/test/graql/internal/template/macro/BooleanMacroTest.java
  server/test/graql/internal/template/macro/ConcatMacroTest.java
  server/test/graql/internal/template/macro/DateMacroTest.java
  server/test/graql/internal/template/macro/DoubleMacroTest.java
  server/test/graql/internal/template/macro/EqualsMacroTest.java
  server/test/graql/internal/template/macro/IntMacroTest.java
  server/test/graql/internal/template/macro/LongMacroTest.java
  server/test/graql/internal/template/macro/LowerMacroTest.java
  server/test/graql/internal/template/macro/MacroTestUtilities.java
  server/test/graql/internal/template/macro/NoescpMacroTest.java
  server/test/graql/internal/template/macro/SplitMacroTest.java
  server/test/graql/internal/template/macro/StringMacroTest.java
  server/test/graql/internal/template/macro/UpperMacroTest.java
  server/test/graql/query/AggregateQueryTest.java
Labels: refactor, v1.5

#4643 Explain concept when the rule contains conjunctions
  workbase/src/renderer/components/Visualiser/store/actions.js
Labels: feature, in progress, v1.5, workbase

#4656 Attach explanation to nodes when loading neighbours
  workbase/src/renderer/components/Visualiser/VisualiserGraphBuilder.js
  workbase/src/renderer/components/Visualiser/VisualiserUtils.js
  workbase/test/unit/components/Visualiser/VisualiserUtils.test.js
Labels: bug, v1.5, workbase

#4660 Style neighbour nodes before updating them in the graph
  workbase/src/renderer/components/Visualiser/store/actions.js
Labels: bug, in progress, v1.5, workbase

#4662 Add shortcut for zooming in on workbase
  workbase/src/main/index.js
Labels: feature, in progress, v1.5, workbase

#4667 Refactor Graql query language library - Part 2
  server/src/graql/exception/GraqlQueryException.java
  server/src/graql/internal/executor/QueryOperationExecutor.java
  server/src/graql/internal/gremlin/ConjunctionQuery.java
  server/src/graql/internal/match/AbstractMatch.java
  server/src/graql/query/pattern/Statement.java
  server/src/graql/query/pattern/property/AbstractIsaProperty.java
  server/src/graql/query/pattern/property/AbstractSubProperty.java
  server/src/graql/query/pattern/property/AbstractVarProperty.java
  server/src/graql/query/pattern/property/DataTypeProperty.java
  server/src/graql/query/pattern/property/HasAttributeProperty.java
  server/src/graql/query/pattern/property/HasAttributeTypeProperty.java
  server/src/graql/query/pattern/property/IdProperty.java
  server/src/graql/query/pattern/property/IsAbstractProperty.java
  server/src/graql/query/pattern/property/LabelProperty.java
  server/src/graql/query/pattern/property/NamedProperty.java
  server/src/graql/query/pattern/property/NeqProperty.java
  server/src/graql/query/pattern/property/PlaysProperty.java
  server/src/graql/query/pattern/property/RegexProperty.java
  server/src/graql/query/pattern/property/RelatesProperty.java
  server/src/graql/query/pattern/property/RelationshipProperty.java
  server/src/graql/query/pattern/property/RuleProperty.java
  server/src/graql/query/pattern/property/SubExplicitProperty.java
  server/src/graql/query/pattern/property/SubProperty.java
  server/src/graql/query/pattern/property/UniqueVarProperty.java
  server/src/graql/query/pattern/property/ValueProperty.java
  server/src/graql/query/pattern/property/VarProperty.java
  server/src/graql/query/pattern/property/VarPropertyInternal.java
Labels: refactor, v1.5

#4669 Revamp UI/UX for workbase preferences
  workbase/src/renderer/components/CanvasVisualiser/Settings.js
  workbase/src/renderer/components/SchemaDesign/SchemaUtils.js
  workbase/src/renderer/components/Visualiser/Preferences.vue
  workbase/src/renderer/components/Visualiser/TopBar/FavQueries/FavQueriesList.vue
  workbase/src/renderer/components/Visualiser/store/actions.js
  workbase/src/renderer/customPlugins/notifications.js
  workbase/static/styles/style.css
  workbase/test/unit/components/store/actions.test.js
Labels: feature, v1.5, workbase

#4672 Concurrent explanation queries bug
  workbase/src/renderer/components/Visualiser/store/actions.js
Labels: bug, in progress, v1.5, workbase

#4673 Show roleplayers of sub-typed relationships
  workbase/src/renderer/components/SchemaDesign/store/actions.js
Labels: feature, v1.5, workbase

#4677 schema designer right bar
  workbase/src/renderer/components/SchemaDesign/LeftBar.vue
  workbase/src/renderer/components/SchemaDesign/RightBar.vue
  workbase/src/renderer/components/SchemaDesign/RightBar/AttributesPanel.vue
  workbase/src/renderer/components/SchemaDesign/RightBar/IdentityPanel.vue
  workbase/src/renderer/components/SchemaDesign/SchemaCanvasEventsHandler.js
  workbase/src/renderer/components/SchemaDesign/SchemaDesignContent.vue
  workbase/src/renderer/components/SchemaDesign/SchemaUtils.js
  workbase/src/renderer/components/SchemaDesign/store/actions.js
  workbase/src/renderer/components/Visualiser/RightBar.vue
  workbase/test/helpers/MockConcepts.js
  workbase/test/unit/components/ScehmaDesign/SchemaUtils.test.js
Labels: feature, v1.5, workbase
