Repository typedb/typedb, pull requests merged in 2018-10, with the labels that each got.

#4403 Favourite Queries e2e tests
  workbase/src/renderer/components/Visualiser/GraknFooter.vue
  workbase/src/renderer/components/Visualiser/TopBar/FavQueries/AddFavQuery.vue
  workbase/src/renderer/components/Visualiser/TopBar/FavQueries/FavQueriesList.vue
  workbase/src/renderer/components/Visualiser/TopBar/GraqlEditor/GraqlEditor.vue
  workbase/src/renderer/components/Visualiser/VisualiserContent.vue
  workbase/src/renderer/components/shared/KeyspacesHandler.vue
  workbase/test/e2e/FavQueries.test.js
Labels: feature, v1.5, workbase

#4405 Set maximum width of canvas nodes
  workbase/src/renderer/components/Visualiser/Style.js
Labels: bug, v1.5, workbase

#4406 Keep identity and attributes panels active in the right bar
  workbase/src/renderer/components/Visualiser/RightBar/ConceptInfoTab/AttributesPanel.vue
  workbase/src/renderer/components/Visualiser/RightBar/ConceptInfoTab/IdentityPanel.vue
Labels: bug, v1.5, workbase

#2992 Query equivalence and unification revisit
  grakn-core/src/main/java/ai/grakn/graql/admin/ReasonerQuery.java
  grakn-core/src/main/java/ai/grakn/graql/admin/UnifierComparison.java
  grakn-graql/src/main/java/ai/grakn/graql/internal/pattern/property/AbstractIsaProperty.java
  grakn-graql/src/main/java/ai/grakn/graql/internal/reasoner/MultiUnifierImpl.java
  grakn-graql/src/main/java/ai/grakn/graql/internal/reasoner/UnifierImpl.java
  grakn-graql/src/main/java/ai/grakn/graql/internal/reasoner/UnifierType.java
  grakn-graql/src/main/java/ai/grakn/graql/internal/reasoner/atom/Atom.java
  grakn-graql/src/main/java/ai/grakn/graql/internal/reasoner/atom/AtomicEquivalence.java
  grakn-graql/src/main/java/ai/grakn/graql/internal/reasoner/atom/binary/Binary.java
  grakn-graql/src/main/java/ai/grakn/graql/internal/reasoner/atom/binary/IsaAtom.java
  grakn-graql/src/main/java/ai/grakn/graql/internal/reasoner/atom/binary/IsaAtomBase.java
  grakn-graql/src/main/java/ai/grakn/graql/internal/reasoner/atom/binary/RelationshipAtom.java
  grakn-graql/src/main/java/ai/grakn/graql/internal/reasoner/atom/binary/ResourceAtom.java
  grakn-graql/src/main/java/ai/grakn/graql/internal/reasoner/cache/StructuralCache.java
  grakn-graql/src/main/java/ai/grakn/graql/internal/reasoner/query/ReasonerAtomicQuery.java
  grakn-graql/src/main/java/ai/grakn/graql/internal/reasoner/query/ReasonerQueryEquivalence.java
  grakn-graql/src/main/java/ai/grakn/graql/internal/reasoner/query/ReasonerQueryImpl.java
  grakn-graql/src/main/java/ai/grakn/graql/internal/reasoner/utils/ReasonerUtils.java
  grakn-graql/src/test/java/ai/grakn/graql/internal/reasoner/AtomicQueryTest.java
  grakn-graql/src/test/java/ai/grakn/graql/internal/reasoner/AtomicTest.java
  grakn-graql/src/test/java/ai/grakn/graql/internal/reasoner/OntologicalQueryTest.java
  grakn-kb/src/main/java/ai/grakn/kb/internal/concept/ElementFactory.java
  grakn-test-tools/src/main/graql/genericSchema.gql
Labels: bug, refactor, v1.5

#4410 Refactor Context Menu
  workbase/src/renderer/components/CanvasVisualiser/Facade.js
  workbase/src/renderer/components/Visualiser/ContextMenu.vue
  workbase/src/renderer/components/Visualiser/VisualiserCanvasEventsHandler.js
  workbase/src/renderer/components/Visualiser/VisualiserGraphBuilder.js
  workbase/src/renderer/components/Visualiser/store/actions.js
  workbase/src/renderer/components/Visualiser/store/getters.js
  workbase/src/renderer/components/Visualiser/store/index.js
  workbase/src/renderer/components/Visualiser/store/mutations.js
  workbase/src/renderer/components/shared/StoresActions.js
  workbase/test/e2e/ContextMenu.test.js
Labels: bug, v1.5, workbase

#4415 Visualiser footer was not displaying concept metrics
  workbase/src/renderer/components/Visualiser/ContextMenu.vue
  workbase/src/renderer/components/Visualiser/VisualiserFooter.vue
  workbase/src/renderer/components/Visualiser/store/getters.js
  workbase/test/e2e/VisualiserFooter.test.js
Labels: bug, in progress, v1.5, workbase

#4419 V1.4.2
  client-java/pom.xml
  grakn-core/pom.xml
  grakn-dashboard/pom.xml
  grakn-dist/pom.xml
  grakn-engine/pom.xml
  grakn-factory/pom.xml
  grakn-graql-shell/pom.xml
  grakn-graql/pom.xml
  grakn-kb/pom.xml
  grakn-migration/base/pom.xml
  grakn-migration/csv/pom.xml
  grakn-migration/export/pom.xml
  grakn-migration/json/pom.xml
  grakn-migration/pom.xml
  grakn-migration/sql/pom.xml
  grakn-migration/xml/pom.xml
  grakn-test-profiles/pom.xml
  grakn-test-tools/pom.xml
  grakn-test/pom.xml
  grakn-test/test-client-java/pom.xml
  grakn-test/test-distribution/pom.xml
  grakn-test/test-integration/pom.xml
  grakn-test/test-snb/pom.xml
  pom.xml
Labels: v1.4.2

#4424 Fix and test load neighbours
  workbase/src/renderer/components/Visualiser/TopBar/GraqlEditor/GraqlEditor.vue
  workbase/src/renderer/components/Visualiser/VisualiserUtils.js
  workbase/src/renderer/components/Visualiser/store/actions.js
  workbase/src/renderer/components/shared/StoresActions.js
  workbase/test/e2e/LoadAttributes.test.js
  workbase/test/e2e/LoadNeighbours.test.js
  workbase/test/helpers/MockConcepts.js
  workbase/test/unit/components/Visualiser/VisualiserUtils.test.js
Labels: feature, in progress, v1.5, workbase

#4426 Error container background color update
  workbase/static/styles/style.css
Labels: bug, v1.5, workbase

#4428 e2e test for Query Setting
  workbase/src/renderer/components/Visualiser/RightBar.vue
  workbase/src/renderer/components/Visualiser/RightBar/SettingsTab/QuerySettingsPanel.vue
  workbase/test/e2e/QuerySettings.test.js
Labels: feature, in progress, v1.5, workbase

#4427 Click and holding a node shouldn't multi select
  workbase/src/renderer/components/Visualiser/VisualiserCanvasEventsHandler.js
Labels: bug, in progress, v1.5, workbase

#4421 Update maven profile for deploying jars
  pom.xml
Labels: ci/cd, v1.5

#4409 #3843: Update graql console prompt
  grakn-graql-shell/src/main/java/ai/grakn/graql/shell/GraqlShell.java
  grakn-test/test-integration/src/test/java/ai/grakn/test/graql/shell/GraqlShellIT.java
Labels: bug, v1.5

#4443 Replace Blueprint.js elements with custom elements
  workbase/src/renderer/components/UIElements/LoadingButton.vue
  workbase/src/renderer/components/UIElements/LoadingButton2.vue
  workbase/src/renderer/components/UIElements/ToolTip.vue
  workbase/src/renderer/components/UIElements/VueButton.vue
  workbase/src/renderer/components/UIElements/VueInput.vue
  workbase/src/renderer/components/UIElements/VueNavbar.vue
  workbase/src/renderer/components/UIElements/VueSwitch.vue
  workbase/src/renderer/components/UIElements/VueTab.vue
  workbase/src/renderer/components/UIElements/VueToolTip.vue
  workbase/src/renderer/components/Visualiser/RightBar/SettingsTab/ConnectionSettingsPanel.vue
  workbase/src/renderer/components/Visualiser/RightBar/SettingsTab/DisplaySettingsPanel.vue
  workbase/src/renderer/components/Visualiser/RightBar/SettingsTab/QuerySettingsPanel.vue
  workbase/src/renderer/components/Visualiser/TopBar/FavQueries/AddFavQuery.vue
  workbase/src/renderer/components/Visualiser/TopBar/FavQueries/FavQueriesList.vue
  workbase/src/renderer/components/Visualiser/TopBar/GraqlEditor/GraqlEditor.vue
  workbase/src/renderer/components/Visualiser/TopBar/TypesContainer.vue
  workbase/src/renderer/components/shared/KeyspacesHandler.vue
  workbase/src/renderer/main.js
  workbase/static/styles/style.css
Labels: feature, v1.5, workbase

#4469 Direct/Explicit sub
  grakn-core/src/main/java/ai/grakn/graql/VarPattern.java
  grakn-graql/src/main/antlr4/ai/grakn/graql/internal/antlr/Graql.g4
  grakn-graql/src/main/java/ai/grakn/graql/internal/gremlin/fragment/Fragments.java
  grakn-graql/src/main/java/ai/grakn/graql/internal/gremlin/fragment/InSubFragment.java
  grakn-graql/src/main/java/ai/grakn/graql/internal/gremlin/fragment/OutIsaFragment.java
  grakn-graql/src/main/java/ai/grakn/graql/internal/gremlin/fragment/OutSubFragment.java
  grakn-graql/src/main/java/ai/grakn/graql/internal/gremlin/sets/EquivalentFragmentSets.java
  grakn-graql/src/main/java/ai/grakn/graql/internal/gremlin/sets/SubFragmentSet.java
  grakn-graql/src/main/java/ai/grakn/graql/internal/parser/GraqlConstructor.java
  grakn-graql/src/main/java/ai/grakn/graql/internal/pattern/AbstractVarPattern.java
  grakn-graql/src/main/java/ai/grakn/graql/internal/pattern/property/AbstractSubProperty.java
  grakn-graql/src/main/java/ai/grakn/graql/internal/pattern/property/SubExplicitProperty.java
  grakn-graql/src/main/java/ai/grakn/graql/internal/pattern/property/SubProperty.java
  grakn-graql/src/test/java/ai/grakn/graql/internal/gremlin/GraqlTraversalTest.java
  grakn-graql/src/test/java/ai/grakn/graql/internal/gremlin/fragment/InPlaysFragmentTest.java
  grakn-graql/src/test/java/ai/grakn/graql/internal/gremlin/fragment/OutPlaysFragmentTest.java
  grakn-graql/src/test/java/ai/grakn/graql/internal/query/match/MatchTest.java
Labels: v1.5

#4470 Graql editor should limit multiline queries
  grakn-dashboard/src/components/graqlEditor/graqlEditor.vue
Labels: bug, v1.5

#4446 Client python 1.4.2 update
  client-python/README.md
  client-python/setup.py
Labels: bug, v1.5

#4445 Benchmarking
  .gitignore
  client-java/pom.xml
  client-java/src/main/java/ai/grakn/client/Grakn.java
  client-java/src/main/java/ai/grakn/client/rpc/Transceiver.java
  client-java/src/main/java/instrumentation/grpc/GrpcClientInterceptor.java
  client-java/src/main/java/instrumentation/grpc/GrpcMessageConversion.java
  grakn-engine/pom.xml
  grakn-engine/src/main/java/ai/grakn/engine/ServerFactory.java
  grakn-engine/src/main/java/ai/grakn/engine/benchmark/GrpcMessageConversion.java
  grakn-engine/src/main/java/ai/grakn/engine/bootup/EngineBootup.java
  grakn-engine/src/main/java/ai/grakn/engine/bootup/Grakn.java
  grakn-engine/src/main/java/ai/grakn/engine/bootup/GraknBootup.java
  grakn-engine/src/main/java/ai/grakn/engine/rpc/SessionService.java
  grakn-graql/pom.xml
  pom.xml
Labels: feature, v1.5

#4483 Test Visualiser vuex actions
  workbase/.eslintrc.js
  workbase/package.json
  workbase/src/renderer/components/CanvasVisualiser/Facade.js
  workbase/src/renderer/components/Visualiser/RightBar/SettingsTab/DisplaySettingsPanel.vue
  workbase/src/renderer/components/Visualiser/VisualiserCanvasEventsHandler.js
  workbase/src/renderer/components/Visualiser/store/actions.js
  workbase/src/renderer/components/shared/GraphCanvas.vue
  workbase/src/renderer/components/shared/StoresActions.js
  workbase/test/helpers/MockConcepts.js
  workbase/test/unit/components/Visualiser/store/actions.test.js
Labels: feature, in progress, v1.5, workbase

#4481 Test visualiser graph builder and enable tests on Circle CI
  .circleci/config.yml
  workbase/src/renderer/components/Visualiser/VisualiserGraphBuilder.js
  workbase/test/e2e/ContextMenu.test.js
  workbase/test/e2e/FavQueries.test.js
  workbase/test/e2e/LoadAttributes.test.js
  workbase/test/e2e/LoadNeighbours.test.js
  workbase/test/e2e/QuerySettings.test.js
  workbase/test/e2e/VisualiserFooter.test.js
  workbase/test/helpers/MockConcepts.js
  workbase/test/unit/components/Visualiser/DataManagementStore.test.js
  workbase/test/unit/components/Visualiser/MenuBar/GraqlEditor/GraqlEditor.test.js
  workbase/test/unit/components/Visualiser/VisualiserGraphBuilder.test.js
Labels: feature, in progress, v1.5, workbase

#4516 Fix inconsistencies in resource representation
  grakn-graql/src/main/java/ai/grakn/graql/internal/pattern/property/HasAttributeProperty.java
  grakn-graql/src/main/java/ai/grakn/graql/internal/reasoner/atom/binary/RelationshipAtom.java
  grakn-graql/src/main/java/ai/grakn/graql/internal/reasoner/atom/binary/ResourceAtom.java
  grakn-graql/src/main/java/ai/grakn/graql/internal/reasoner/query/ReasonerAtomicQuery.java
  grakn-graql/src/main/java/ai/grakn/graql/internal/reasoner/rule/InferenceRule.java
  grakn-graql/src/test/java/ai/grakn/graql/internal/reasoner/AtomicQueryTest.java
  grakn-graql/src/test/java/ai/grakn/graql/internal/reasoner/ReasoningTest.java
  grakn-test-tools/src/main/graql/resourceAttachment.gql
Labels: bug, v1.5

#4518 Prune rules if pattern var has an id mapping
  grakn-graql/src/main/java/ai/grakn/graql/internal/reasoner/atom/Atom.java
  grakn-graql/src/test/java/ai/grakn/graql/internal/reasoner/AtomicTest.java
Labels: feature, v1.5

#4524 Implement Visualiser Tabs
  workbase/.babelrc
  workbase/.electron-vue/dev-runner.js
  workbase/package.json
  workbase/screenshots/screenshot.png
  workbase/src/main/index.js
  workbase/src/renderer/components/Visualiser/ContextMenu.vue
  workbase/src/renderer/components/Visualiser/RightBar.vue
  workbase/src/renderer/components/Visualiser/RightBar/ConceptInfoTab.vue
  workbase/src/renderer/components/Visualiser/RightBar/ConceptInfoTab/AttributesPanel.vue
  workbase/src/renderer/components/Visualiser/RightBar/ConceptInfoTab/IdentityPanel.vue
  workbase/src/renderer/components/Visualiser/RightBar/SettingsTab.vue
  workbase/src/renderer/components/Visualiser/RightBar/SettingsTab/DisplaySettingsPanel.vue
  workbase/src/renderer/components/Visualiser/TopBar.vue
  workbase/src/renderer/components/Visualiser/TopBar/FavQueries/FavQueriesList.vue
  workbase/src/renderer/components/Visualiser/TopBar/GraqlEditor/GraqlEditor.vue
  workbase/src/renderer/components/Visualiser/TopBar/TypesContainer.vue
  workbase/src/renderer/components/Visualiser/VisTab.vue
  workbase/src/renderer/components/Visualiser/VisualiserCanvasEventsHandler.js
  workbase/src/renderer/components/Visualiser/VisualiserContent.vue
  workbase/src/renderer/components/Visualiser/VisualiserFooter.vue
  workbase/src/renderer/components/Visualiser/store/actions.js
  workbase/src/renderer/components/Visualiser/store/getters.js
  workbase/src/renderer/components/Visualiser/store/index.js
  workbase/src/renderer/components/Visualiser/store/mutations.js
  workbase/src/renderer/components/Visualiser/store/tabState.js
  workbase/src/renderer/components/shared/GraphCanvas.vue
  workbase/src/renderer/components/shared/KeyspacesHandler.vue
  workbase/src/renderer/store/index.js
  workbase/static/styles/style.css
  workbase/test/e2e/FavQueries.test.js
  workbase/test/unit/components/Visualiser/visTab.test.js
Labels: feature, in progress, v1.5, workbase
