Repository typedb/typedb, pull requests merged in 2018-12, with the labels that each got.

#4682 Define New Schema Types
  workbase/src/renderer/components/SchemaDesign/LeftBar.vue
  workbase/src/renderer/components/SchemaDesign/LeftBar/NewAttributePanel.vue
  workbase/src/renderer/components/SchemaDesign/LeftBar/NewEntityPanel.vue
  workbase/src/renderer/components/SchemaDesign/LeftBar/NewRelationshipPanel.vue
  workbase/src/renderer/components/SchemaDesign/ManageSchemaConcepts.vue
  workbase/src/renderer/components/SchemaDesign/NewTypePanel/NewTypePanel.vue
  workbase/src/renderer/components/SchemaDesign/NewTypePanel/types/attribute.vue
  workbase/src/renderer/components/SchemaDesign/NewTypePanel/types/entity.vue
  workbase/src/renderer/components/SchemaDesign/NewTypePanel/types/handlers/DatatypeHandler.vue
  workbase/src/renderer/components/SchemaDesign/NewTypePanel/types/handlers/NameAndSuperTypesHandler.vue
  workbase/src/renderer/components/SchemaDesign/NewTypePanel/types/handlers/TypesMultiselectHandler.vue
  workbase/src/renderer/components/SchemaDesign/NewTypePanel/types/relationship.vue
  workbase/src/renderer/components/SchemaDesign/RightSideBar/NodePanel/Attributes.vue
  workbase/src/renderer/components/SchemaDesign/RightSideBar/NodePanel/Edit/EditBar.vue
  workbase/src/renderer/components/SchemaDesign/RightSideBar/NodePanel/Edit/EditToolTip.vue
  workbase/src/renderer/components/SchemaDesign/RightSideBar/NodePanel/Edit/ExistingList.vue
  workbase/src/renderer/components/SchemaDesign/RightSideBar/NodePanel/Edit/NewRole.vue
  workbase/src/renderer/components/SchemaDesign/RightSideBar/NodePanel/Info.vue
  workbase/src/renderer/components/SchemaDesign/RightSideBar/NodePanel/Plays.vue
  workbase/src/renderer/components/SchemaDesign/RightSideBar/NodePanel/Relates.vue
  workbase/src/renderer/components/SchemaDesign/RightSideBar/RightSidebar.vue
  workbase/src/renderer/components/SchemaDesign/SchemaDesignContent.vue
  workbase/src/renderer/components/SchemaDesign/SchemaHandler.js
  workbase/src/renderer/components/SchemaDesign/SchemaUtils.js
  workbase/src/renderer/components/SchemaDesign/TopBar.vue
  workbase/src/renderer/components/SchemaDesign/store/actions.js
  workbase/src/renderer/components/UIElements/LoadingButton.vue
  workbase/src/renderer/components/Visualiser/VisTab.vue
  workbase/src/renderer/components/shared/KeyspacesHandler.vue
  workbase/src/renderer/components/shared/Preferences.vue
  workbase/static/styles/style.css
  workbase/test/unit/components/ScehmaDesign/SchemaHandler.test.js
  workbase/test/unit/components/ScehmaDesign/store/actions.test.js
Labels: feature, v1.5, workbase

#4713 Logout for KGMS user
  workbase/src/renderer/components/Login/LoginPage.vue
  workbase/src/renderer/components/shared/KeyspacesHandler.vue
  workbase/src/renderer/components/shared/Preferences.vue
  workbase/src/renderer/store/actions.js
Labels: feature, v1.5, workbase

#4714 add attribute types to defined schema concepts
  workbase/src/renderer/components/SchemaDesign/RightBar/AttributesPanel.vue
  workbase/src/renderer/components/SchemaDesign/store/actions.js
  workbase/src/renderer/components/shared/StoresActions.js
Labels: feature, v1.5, workbase

#4712 Schema Design context menu
  workbase/src/renderer/components/SchemaDesign/ContextMenu.vue
  workbase/src/renderer/components/SchemaDesign/LeftBar/NewAttributePanel.vue
  workbase/src/renderer/components/SchemaDesign/LeftBar/NewEntityPanel.vue
  workbase/src/renderer/components/SchemaDesign/LeftBar/NewRelationshipPanel.vue
  workbase/src/renderer/components/SchemaDesign/SchemaCanvasEventsHandler.js
  workbase/src/renderer/components/SchemaDesign/SchemaDesignContent.vue
  workbase/src/renderer/components/SchemaDesign/store/actions.js
Labels: feature, v1.5, workbase

#4715 show attribute types in schema designer
  workbase/src/renderer/components/SchemaDesign/SchemaUtils.js
  workbase/src/renderer/components/SchemaDesign/Style.js
  workbase/src/renderer/components/SchemaDesign/store/actions.js
Labels: feature, v1.5, workbase

#4727 Remove attribute types from schema concepts
  workbase/src/renderer/components/SchemaDesign/ContextMenu.vue
  workbase/src/renderer/components/SchemaDesign/RightBar/AttributesPanel.vue
  workbase/src/renderer/components/SchemaDesign/store/actions.js
Labels: feature, v1.5, workbase

#4728 Refactor schema design actions
  workbase/src/renderer/components/CanvasVisualiser/Facade.js
  workbase/src/renderer/components/SchemaDesign/store/actions.js
Labels: feature, v1.5, workbase

#4737 Schema designer bug fixes
  workbase/src/renderer/components/SchemaDesign/ContextMenu.vue
  workbase/src/renderer/components/SchemaDesign/LeftBar/NewAttributePanel.vue
  workbase/src/renderer/components/SchemaDesign/LeftBar/NewEntityPanel.vue
  workbase/src/renderer/components/SchemaDesign/LeftBar/NewRelationshipPanel.vue
  workbase/src/renderer/components/SchemaDesign/SchemaUtils.js
  workbase/src/renderer/components/SchemaDesign/store/actions.js
Labels: bug, v1.5, workbase

#4731 Refactor Graql query language library - Part 6
  client-java/GraknClient.java
  client-java/test/GraknClientIT.java
  client-nodejs/tests/service/session/transaction/GraknTx.test.js
  client_python/tests/integration/test_grakn.py
  console/test/GraknConsoleIT.java
  graql/grammar/Graql.g4
  server/src/graql/exception/GraqlQueryException.java
  server/src/graql/internal/executor/AggregateExecutor.java
  server/src/graql/internal/executor/ComputeExecutor.java
  server/src/graql/internal/executor/QueryExecutor.java
  server/src/graql/internal/reasoner/cache/StructuralCache.java
  server/src/graql/parser/Parser.java
  server/src/graql/query/Aggregate.java
  server/src/graql/query/AggregateQuery.java
  server/src/graql/query/GetQuery.java
  server/src/graql/query/Graql.java
  server/src/graql/query/GroupAggregateQuery.java
  server/src/graql/query/GroupQuery.java
  server/src/graql/query/MatchClause.java
  server/src/graql/query/Query.java
  server/src/graql/query/aggregate/CountAggregate.java
  server/src/graql/query/aggregate/GroupAggregate.java
  server/src/graql/query/aggregate/ListAggregate.java
  server/src/graql/query/aggregate/MaxAggregate.java
  server/src/graql/query/aggregate/MeanAggregate.java
  server/src/graql/query/aggregate/MedianAggregate.java
  server/src/graql/query/aggregate/MinAggregate.java
  server/src/graql/query/aggregate/StdAggregate.java
  server/src/graql/query/aggregate/SumAggregate.java
  server/src/graql/query/pattern/Pattern.java
  server/src/server/Transaction.java
  server/src/server/session/TransactionOLTP.java
  server/test/graql/parser/ParserTest.java
  server/test/graql/query/AggregateQueryTest.java
  server/test/graql/query/BUILD
  test-end-to-end/client-java/ClientJavaE2E.java
  test-end-to-end/deduplicator/AttributeDeduplicatorE2E.java
  test-integration/graql/internal/IsaExplicitIT.java
  test-integration/graql/query/AggregateQueryIT.java
Labels: feature, refactor, v1.5

#4739 Delete relationship type bug
  workbase/src/renderer/components/SchemaDesign/store/actions.js
Labels: bug, in progress, v1.5, workbase

#4738 Schema Designer - Define new rule
  workbase/src/renderer/components/SchemaDesign/LeftBar.vue
  workbase/src/renderer/components/SchemaDesign/LeftBar/NewRulePanel.vue
  workbase/src/renderer/components/SchemaDesign/SchemaHandler.js
  workbase/src/renderer/components/SchemaDesign/store/actions.js
  workbase/src/renderer/components/shared/StoresActions.js
Labels: feature, in progress, v1.5, workbase

#4741 Schema display settings
  workbase/src/renderer/components/SchemaDesign/RightBar.vue
  workbase/src/renderer/components/SchemaDesign/RightBar/ConceptInfoTab.vue
  workbase/src/renderer/components/SchemaDesign/RightBar/ConceptInfoTab/AttributesPanel.vue
  workbase/src/renderer/components/SchemaDesign/RightBar/ConceptInfoTab/IdentityPanel.vue
  workbase/src/renderer/components/SchemaDesign/RightBar/SettingsTab.vue
  workbase/src/renderer/components/SchemaDesign/RightBar/SettingsTab/DisplaySettingsPanel.vue
  workbase/src/renderer/components/SchemaDesign/store/getters.js
Labels: feature, v1.5, workbase

#4742 Refresh panel supertypes
  workbase/src/renderer/components/SchemaDesign/LeftBar/NewAttributePanel.vue
  workbase/src/renderer/components/SchemaDesign/LeftBar/NewEntityPanel.vue
  workbase/src/renderer/components/SchemaDesign/LeftBar/NewRelationshipPanel.vue
Labels: bug, v1.5, workbase

#4745 minor UI fix
  workbase/src/renderer/components/SchemaDesign/RightBar/ConceptInfoTab.vue
  workbase/src/renderer/components/SchemaDesign/RightBar/SettingsTab.vue
  workbase/src/renderer/components/SchemaDesign/RightBar/SettingsTab/DisplaySettingsPanel.vue
Labels: bug, v1.5, workbase

#4762 Refactor Graql query language library - Part 8
  server/src/graql/internal/executor/ConceptBuilder.java
  server/src/graql/internal/executor/QueryExecutor.java
  server/src/graql/internal/executor/property/DataTypeExecutor.java
  server/src/graql/internal/executor/property/HasAttributeExecutor.java
  server/src/graql/internal/executor/property/HasAttributeTypeExecutor.java
  server/src/graql/internal/executor/property/IdExecutor.java
  server/src/graql/internal/executor/property/IsAbstractExecutor.java
  server/src/graql/internal/executor/property/IsaAbstractExecutor.java
  server/src/graql/internal/executor/property/IsaExecutor.java
  server/src/graql/internal/executor/property/LabelExecutor.java
  server/src/graql/internal/executor/property/NeqExecutor.java
  server/src/graql/internal/executor/property/PlaysExecutor.java
  server/src/graql/internal/executor/property/PropertyExecutor.java
  server/src/graql/internal/executor/property/RegexExecutor.java
  server/src/graql/internal/executor/property/RelatesExecutor.java
  server/src/graql/internal/executor/property/RelationExecutor.java
  server/src/graql/internal/executor/property/SubExecutor.java
  server/src/graql/internal/executor/property/ThenExecutor.java
  server/src/graql/internal/executor/property/ValueExecutor.java
  server/src/graql/internal/executor/property/WhenExecutor.java
  server/src/graql/internal/gremlin/ConjunctionQuery.java
  server/src/graql/internal/reasoner/atom/Atom.java
  server/src/graql/internal/reasoner/atom/AtomicFactory.java
  server/src/graql/internal/reasoner/atom/binary/AttributeAtom.java
  server/src/graql/internal/reasoner/atom/predicate/NeqPredicate.java
  server/src/graql/internal/reasoner/query/ReasonerQueryImpl.java
  server/src/graql/internal/reasoner/rule/InferenceRule.java
  server/src/graql/internal/reasoner/unifier/UnifierType.java
  server/src/graql/query/pattern/Statement.java
  server/src/graql/query/pattern/property/DataTypeProperty.java
  server/src/graql/query/pattern/property/HasAttributeProperty.java
  server/src/graql/query/pattern/property/HasAttributeTypeProperty.java
  server/src/graql/query/pattern/property/IdProperty.java
  server/src/graql/query/pattern/property/IsAbstractProperty.java
  server/src/graql/query/pattern/property/IsaAbstractProperty.java
  server/src/graql/query/pattern/property/IsaExplicitProperty.java
  server/src/graql/query/pattern/property/IsaProperty.java
  server/src/graql/query/pattern/property/LabelProperty.java
  server/src/graql/query/pattern/property/NeqProperty.java
  server/src/graql/query/pattern/property/PlaysProperty.java
  server/src/graql/query/pattern/property/RegexProperty.java
  server/src/graql/query/pattern/property/RelatesProperty.java
  server/src/graql/query/pattern/property/RelationProperty.java
  server/src/graql/query/pattern/property/RuleProperty.java
  server/src/graql/query/pattern/property/SubAbstractProperty.java
  server/src/graql/query/pattern/property/SubExplicitProperty.java
  server/src/graql/query/pattern/property/SubProperty.java
  server/src/graql/query/pattern/property/ThenProperty.java
  server/src/graql/query/pattern/property/ValueProperty.java
  server/src/graql/query/pattern/property/VarProperty.java
  server/src/graql/query/pattern/property/WhenProperty.java
  server/test/graql/parser/ParserTest.java
  test-integration/graql/query/DefineQueryIT.java
  test-integration/graql/query/InsertQueryIT.java
  test-integration/graql/query/UndefineQueryIT.java
  test-integration/graql/reasoner/atomic/AtomicRuleApplicabilityIT.java
  test-integration/graql/reasoner/query/SemanticDifferenceIT.java
Labels: refactor, v1.5

#4756 Add pip as a requirement for compiling from source
  README.md
Labels: bug
