Repository typedb/typedb, pull requests merged in 2018-09, with the labels that each got.

#2969 Resolve obvious issues in the docs
  .gitignore
  docs/pages/docs/04-querying-data/insert-queries.md
  docs/pages/docs/04-querying-data/match-clause.md
  docs/pages/docs/05-distributed-analytics/compute-statistics.md
  docs/pages/docs/06-migrating-data/migrating-sql.md
  docs/pages/docs/06-migrating-data/migrating-xml.md
  docs/pages/docs/06-migrating-data/migration-language.md
  docs/pages/docs/07-visualisation-dashboard/visualiser.md
  grakn-dist/src/examples/basic-genealogy.gql
  grakn-graql/src/test/java/ai/grakn/graql/internal/reasoner/inference/GenealogyTest.java
  grakn-test-tools/src/main/graql/genealogy/rules.gql
Labels: bug

#2988 Resolve technical issues in the docs
  .gitignore
  docs/images/graql-cheatsheet-p1.pdf
  docs/images/graql-cheatsheet-p1.png
  docs/images/graql-cheatsheet-p2.pdf
  docs/images/graql-cheatsheet-p2.png
  docs/images/graql-cheatsheet.pdf
  docs/pages/docs/03-building-schema/defining-rules.md
  docs/pages/docs/03-building-schema/querying-schema.md
  docs/pages/docs/04-querying-data/insert-queries.md
  docs/pages/docs/05-distributed-analytics/compute-queries.md
  docs/pages/docs/06-migrating-data/migrating-sql.md
  docs/pages/docs/06-migrating-data/overview.md
  docs/pages/docs/07-visualisation-dashboard/visualiser.md
  docs/pages/docs/10-api-references/graql-cheatsheet.docx
Labels: bug

#4366 Replace nodes and edges with types in canvas data footer
  workbase/src/renderer/components/Visualiser/CanvasToolTip.vue
  workbase/src/renderer/components/Visualiser/Footer.vue
  workbase/src/renderer/components/Visualiser/VisualiserContent.vue
  workbase/src/renderer/components/shared/CanvasStoreMixin.js
Labels: v1.5, workbase

#4362 Add shortcut to clear graph and add delay before dimming of nodes when hovering on a node
  workbase/src/renderer/components/CanvasVisualiser/Visualiser.js
  workbase/src/renderer/components/Visualiser/VisualiserStore.js
  workbase/static/styles/style.css
Labels: v1.5, workbase

#4364 Maximise graql editor when focused
  workbase/src/renderer/components/Visualiser/TopBar/GraqlEditor/GraqlEditor.vue
Labels: v1.5, workbase

#4372 Update display settings panel when keyspace is changed
  workbase/src/renderer/components/Visualiser/RightBar/SettingsTab/DisplaySettingsPanel.vue
  workbase/src/renderer/components/Visualiser/RightBar/SettingsTab/QuerySettingsPanel.vue
Labels: v1.5, workbase

#4357 Expand resolution plan tests and add repeats
  grakn-graql/src/test/java/ai/grakn/graql/internal/reasoner/ResolutionPlanTest.java
  grakn-graql/src/test/java/ai/grakn/util/Repeat.java
  grakn-graql/src/test/java/ai/grakn/util/RepeatRule.java
Labels: ci/cd, v1.5

#4373 load metatypes and attribtues when display settings panel is created
  workbase/src/renderer/components/Visualiser/RightBar/SettingsTab/DisplaySettingsPanel.vue
Labels: v1.5, workbase

#4378 refactor canvas event handling
  workbase/src/renderer/components/SchemaDesign/RightSideBar/NodePanel/Attributes.vue
  workbase/src/renderer/components/SchemaDesign/RightSideBar/NodePanel/Edit/ExistingList.vue
  workbase/src/renderer/components/SchemaDesign/RightSideBar/NodePanel/Plays.vue
  workbase/src/renderer/components/SchemaDesign/RightSideBar/NodePanel/Relates.vue
  workbase/src/renderer/components/SchemaDesign/SchemaDesignContent/ContextMenu.vue
  workbase/src/renderer/components/SchemaDesign/SchemaDesignContent/SchemaDesignContent.vue
  workbase/src/renderer/components/SchemaDesign/SchemaDesignStore.js
  workbase/src/renderer/components/Visualiser/ContextMenu.vue
  workbase/src/renderer/components/Visualiser/VisualiserStore.js
  workbase/src/renderer/components/shared/CanvasStoreMixin.js
Labels: v1.5, workbase

#4367 replace examples with new ones + remove migration section
  docs/_jekyll/Gemfile
  docs/_jekyll/_data/sidebars/documentation_sidebar.yml
  docs/_jekyll/_includes/image.html
  docs/_jekyll/_plugins/gist.rb
  docs/images/examples-defining-the-schema-1.png
  docs/images/examples-migrating-csv-json-xml-1.png
  docs/images/examples-querying-kg-1.png
  docs/images/examples-querying-kg-2.png
  docs/images/examples-querying-kg-3.png
  docs/images/examples-querying-kg-4.png
  docs/images/examples-querying-kg-5.png
  docs/images/examples-querying-kg-6.png
  docs/images/examples-querying-kg-7.png
  docs/images/examples-querying-kg-8.png
  docs/images/examples-querying-kg-9.png
  docs/pages/docs/06-migrating-data/migrating-csv.md
  docs/pages/docs/06-migrating-data/migrating-json.md
  docs/pages/docs/06-migrating-data/migrating-sql.md
  docs/pages/docs/06-migrating-data/migrating-xml.md
  docs/pages/docs/06-migrating-data/migration-language.md
  docs/pages/docs/06-migrating-data/overview.md
  docs/pages/docs/12-examples/CSV-migration.md
  docs/pages/docs/12-examples/JSON-migration-NOT-PUBLISHED.md
  docs/pages/docs/12-examples/SQL-migration.md
  docs/pages/docs/12-examples/analytics.md
  docs/pages/docs/12-examples/defining-the-schema.md
  docs/pages/docs/12-examples/examples-overview.md
  docs/pages/docs/12-examples/graql-reasoning.md
  docs/pages/docs/12-examples/java-analytics.md
  docs/pages/docs/12-examples/java-api-example.md
  docs/pages/docs/12-examples/migrating-csv-json-xml.md
  docs/pages/docs/12-examples/modern.md
  docs/pages/docs/12-examples/pokemon.md
  docs/pages/docs/12-examples/projects.md
  docs/pages/docs/12-examples/querying-kg.md
  docs/pages/docs/12-examples/working-with-tweets.md
Labels: feature, v1.4

#4388 update docs/deply-master.sh to have correct app name
  docs/deploy-master.sh
Labels: bug

#4389 Fix issues in docs
  docs/pages/docs/00-get-started/setup-guide.md
  docs/pages/docs/05-distributed-analytics/compute-centrality.md
  docs/pages/docs/12-examples/defining-the-schema.md
Labels: bug

#4384 Update DisplaySettings, QuerySettings and VisualiserUtils tests
  workbase/src/renderer/components/Visualiser/VisualiserStore.js
  workbase/src/renderer/components/Visualiser/VisualiserUtils.js
  workbase/src/renderer/components/shared/StoresActions.js
  workbase/test/helpers/MockConcepts.js
  workbase/test/unit/components/DataManagement/DataManagementUtils.test.js
  workbase/test/unit/components/DataManagement/NodePanel.test.js
  workbase/test/unit/components/Visualiser/DataManagementStore.test.js
  workbase/test/unit/components/Visualiser/MenuBar/GraqlEditor/GraqlEditor.test.js
  workbase/test/unit/components/Visualiser/RightBar/SettingsTab/DisplaySettings.test.js
  workbase/test/unit/components/Visualiser/RightBar/SettingsTab/QuerySettings.test.js
  workbase/test/unit/components/Visualiser/VisualiserGraphBuilder.test.js
  workbase/test/unit/components/Visualiser/VisualiserUtils.test.js
Labels: in progress, v1.5, workbase

#4387 Click and hold on a node would select a node
  workbase/src/renderer/components/shared/CanvasStoreMixin.js
Labels: bug, v1.5, workbase

#4383 Load Roleplayers should not be reset
  workbase/src/renderer/components/Visualiser/VisualiserStore.js
Labels: bug, in progress, v1.5, workbase

#4379 Graql editor should only maximise when minimized
  workbase/src/renderer/components/Visualiser/TopBar/GraqlEditor/GraqlEditor.vue
Labels: bug, in progress, v1.5, workbase
