Repository typedb/typedb, pull requests merged in 2022-07, with the labels that each got.

#6602 Update TypeDB runner
  dependencies/vaticle/repositories.bzl
  test/assembly/AssemblyTest.java
Labels: type: refactor, priority: medium

#6603 Set system locale of Docker image to C.UTF-8
  BUILD
Labels: type: bug, domain: build, priority: medium

#6592 Update query planner to allow multiple starting points
  common/optimiser/Optimiser.java
  common/optimiser/OptimiserConstraint.java
  common/optimiser/OptimiserVariable.java
  traversal/common/Identifier.java
  traversal/planner/GraphPlanner.java
  traversal/planner/PlannerEdge.java
  traversal/planner/PlannerVertex.java
  traversal/procedure/CombinationProcedure.java
  traversal/procedure/GraphProcedure.java
  traversal/procedure/ProcedureEdge.java
  traversal/procedure/ProcedureVertex.java
  traversal/procedure/VertexProcedure.java
  traversal/scanner/GraphIterator.java
Labels: type: feature, priority: medium

#6604 Parallel reads within a single transaction
  server/TransactionService.java
Labels: type: feature, priority: medium, domain: server

#6606 Reasoning test oracle uses stratified forward chaining
  dependencies/vaticle/repositories.bzl
  logic/Rule.java
  test/behaviour/reasoner/verification/ForwardChainingMaterialiser.java
Labels: type: bug, priority: medium, domain: reasoner

#6611 Check explanation completeness in reasoner tests
  logic/resolvable/Concludable.java
  logic/resolvable/Unifier.java
  reasoner/controller/ConcludableController.java
  test/behaviour/reasoner/verification/BoundPattern.java
  test/behaviour/reasoner/verification/CompletenessVerifier.java
  test/behaviour/reasoner/verification/ForwardChainingMaterialiser.java
  test/behaviour/reasoner/verification/SoundnessVerifier.java
Labels: type: bug, type: feature, priority: low, domain: reasoner

#6612 Query planner emulates incremental solving
  common/optimiser/Optimiser.java
  common/optimiser/OptimiserConstraint.java
  common/optimiser/OptimiserVariable.java
  traversal/planner/GraphPlanner.java
Labels: type: refactor, priority: high, domain: traversal
