Repository typedb/typedb, pull requests merged in 2022-08, with the labels that each got.

#6615 Reasoner tracing: Fix initialization race & handle case when directory does not exist
  reasoner/common/Tracer.java
Labels: type: bug, domain: reasoner

#6617 Refactor reasoner oracle test rule partitioning
  test/behaviour/reasoner/verification/ForwardChainingMaterialiser.java
Labels: type: refactor, priority: medium, domain: reasoner

#6619 Sorted iterators do not require matched comparator and equality
  common/iterator/AbstractFunctionalIterator.java
  common/iterator/FunctionalIterator.java
  common/iterator/sorted/AbstractSortedIterator.java
  common/iterator/sorted/DistinctSortedIterator.java
  common/iterator/sorted/IntersectForwardableIterator.java
  pattern/constraint/thing/RelationConstraint.java
Labels: type: refactor, priority: blocker

#6621 Fix reasoner to cache plans for given bounds
  reasoner/controller/ConjunctionController.java
Labels: type: bug, priority: high, domain: reasoner

#6623 Fix storage iterator forwarding
  database/RocksIterator.java
Labels: type: bug, priority: blocker, domain: storage, domain: traversal

#6630 Parse type label for exceptions
  concept/type/impl/TypeImpl.java
Labels: type: bug, priority: medium

#6631 Undefiner checks type exists
  query/Undefiner.java
Labels: type: bug, priority: low

#6628 Unifying a concludable with a conclusion considers value constraints
  logic/BUILD
  logic/resolvable/Concludable.java
  logic/resolvable/RetrievableTest.java
  logic/resolvable/Unifier.java
  logic/resolvable/UnifierTest.java
  pattern/constraint/thing/ValueConstraint.java
  test/integration/logic/resolvable/UnifyHasConcludableTest.java
  traversal/predicate/Predicate.java
  traversal/predicate/PredicateArgument.java
  traversal/predicate/PredicateOperator.java
Labels: type: feature, priority: low, domain: reasoner

#6632 Move logic caching responsibilities to LogicManager & LogicCache
  database/RocksIterator.java
  logic/LogicCache.java
  logic/LogicManager.java
  logic/Rule.java
  logic/resolvable/Concludable.java
  logic/resolvable/Negated.java
  logic/resolvable/ResolvableConjunction.java
  logic/resolvable/ResolvableDisjunction.java
  reasoner/controller/ConcludableController.java
  reasoner/controller/ConclusionController.java
  reasoner/controller/ConditionController.java
  reasoner/controller/ConjunctionController.java
  reasoner/controller/NestedConjunctionController.java
  reasoner/controller/RootConjunctionController.java
  test/behaviour/reasoner/verification/BoundPattern.java
  test/behaviour/reasoner/verification/ForwardChainingMaterialiser.java
  test/behaviour/reasoner/verification/SoundnessVerifier.java
Labels: domain: reasoner

#6635 Update retrievable tests to reflect the nature of concludables
  logic/resolvable/RetrievableTest.java
Labels: type: refactor, priority: medium, domain: reasoner

#6626 Refactor reasoner graph construction to use logic data-structures
  logic/resolvable/Negated.java
  logic/resolvable/ResolvableConjunction.java
  reasoner/ReasonerProducer.java
  reasoner/controller/ConditionController.java
  reasoner/controller/ConjunctionController.java
  reasoner/controller/ControllerRegistry.java
  reasoner/controller/DisjunctionController.java
  reasoner/controller/NegationController.java
  reasoner/controller/NestedConjunctionController.java
  reasoner/controller/NestedDisjunctionController.java
  reasoner/controller/RootConjunctionController.java
  reasoner/controller/RootDisjunctionController.java
  test/integration/reasoner/controller/ControllerTest.java
Labels: type: refactor, priority: medium, domain: reasoner

#6636 Test all query plan permutations in BDD match queries
  concept/ConceptManager.java
  dependencies/vaticle/repositories.bzl
  pattern/BUILD
  test/behaviour/typeql/BUILD
  test/behaviour/typeql/TypeQLSteps.java
  traversal/graph/TraversalVertex.java
  traversal/procedure/GraphProcedure.java
  traversal/test/ProcedurePermutator.java
Labels: type: feature, priority: high, domain: traversal

#6622 Refactor traversal engine to handle overlapping role edges
  common/iterator/BaseIterator.java
  common/iterator/Iterators.java
  common/iterator/sorted/IntersectForwardableIterator.java
  common/optimiser/Optimiser.java
  pattern/constraint/thing/RelationConstraint.java
  test/integration/traversal/TraversalTest.java
  traversal/planner/GraphPlanner.java
  traversal/planner/PlannerEdge.java
  traversal/procedure/GraphProcedure.java
  traversal/procedure/ProcedureEdge.java
  traversal/procedure/ProcedureVertex.java
  traversal/scanner/GraphIterator.java
  traversal/structure/Structure.java
  traversal/structure/StructureEdge.java
  traversal/structure/StructureVertex.java
Labels: type: bug, priority: high, domain: traversal
