Repository typedb/typedb, pull requests merged in 2022-10, with the labels that each got.

#6655 Rename Order API
  common/iterator/sorted/BaseForwardableIterator.java
  common/iterator/sorted/BaseSortedIterator.java
  common/iterator/sorted/ConsumeHandledSortedIterator.java
  common/iterator/sorted/DistinctSortedIterator.java
  common/iterator/sorted/FilteredSortedIterator.java
  common/iterator/sorted/FinaliseSortedIterator.java
  common/iterator/sorted/IntersectForwardableIterator.java
  common/iterator/sorted/LimitedSortedIterator.java
  common/iterator/sorted/MappedSortedIterator.java
  common/iterator/sorted/MergeMappedSortedIterator.java
  common/iterator/sorted/SortedIterator.java
  common/parameters/Order.java
  database/RocksIterator.java
Labels: type: refactor, priority: high

#6661 Reformat and refactor traversal Procedures
  traversal/procedure/ProcedureEdge.java
  traversal/procedure/ProcedureVertex.java
Labels: type: refactor, priority: high

#6659 Refine estimated costs of traversing intersections
  common/optimiser/Optimiser.java
  traversal/planner/GraphPlanner.java
  traversal/planner/PlannerEdge.java
  traversal/planner/PlannerVertex.java
Labels: type: feature, priority: high, domain: traversal

#6660 Linearise query traversal
  common/iterator/AbstractFunctionalIterator.java
  common/iterator/FunctionalIterator.java
  common/iterator/sorted/AbstractSortedIterator.java
  traversal/planner/GraphPlanner.java
Labels: type: feature, priority: low, domain: traversal

#6666 Propagate bound-restrictions through conjunction model
  .grabl/automation.yml
  logic/resolvable/Concludable.java
  logic/resolvable/Negated.java
  logic/resolvable/Resolvable.java
  logic/resolvable/ResolvableConjunction.java
  logic/resolvable/Retrievable.java
  reasoner/planner/AnswerCountEstimator.java
  reasoner/planner/ConjunctionSummarizer.java
  reasoner/planner/ReasonerPlanner.java
  test/integration/reasoner/planner/AnswerCountEstimatorTest.java
Labels: type: feature, domain: reasoner

#6667 Improve concurrency of TypeDB executors
  concurrent/executor/ParallelThreadPoolExecutor.java
Labels: type: refactor, priority: high, domain: server

#6664 Enforce key uniqueness across subtypes
  concept/thing/impl/ThingImpl.java
  concept/type/RelationType.java
  concept/type/RoleType.java
  concept/type/ThingType.java
  concept/type/Type.java
  concept/type/impl/AttributeTypeImpl.java
  concept/type/impl/EntityTypeImpl.java
  concept/type/impl/RelationTypeImpl.java
  concept/type/impl/RoleTypeImpl.java
  concept/type/impl/ThingTypeImpl.java
  dependencies/vaticle/repositories.bzl
  graph/TypeGraph.java
  graph/edge/impl/TypeEdgeImpl.java
  test/integration/logic/resolvable/UnifyRelationConcludableTest.java
  traversal/procedure/ProcedureEdge.java
Labels: type: bug, priority: medium, domain: server

#6671 Replace remaining occurences of .grabl with .factory
  .github/CODEOWNERS
  BUILD
Labels: domain: build
