Repository typedb/typedb, pull requests merged in 2022-09, with the labels that each got.

#6620 Refactor reasoner planner to be able to use statistics
  logic/LogicManager.java
  reasoner/BUILD
  reasoner/Reasoner.java
  reasoner/common/Planner.java
  reasoner/controller/ConjunctionController.java
  reasoner/controller/ControllerRegistry.java
  reasoner/planner/GreedyCostSearch.java
  reasoner/planner/ReasonerPlanner.java
  test/integration/reasoner/BUILD
  test/integration/reasoner/planner/PlannerTest.java
Labels: domain: reasoner

#6638 Native disconnected graph traversal
  dependencies/vaticle/repositories.bzl
  reasoner/Reasoner.java
  reasoner/common/Traversal.java
  test/behaviour/typeql/TypeQLSteps.java
  traversal/GraphTraversal.java
  traversal/TraversalCache.java
  traversal/TraversalEngine.java
  traversal/planner/ConnectedPlanner.java
  traversal/planner/GraphPlanner.java
  traversal/planner/MultiPlanner.java
  traversal/planner/Planner.java
  traversal/planner/PlannerVertex.java
  traversal/planner/VertexPlanner.java
  traversal/procedure/CombinationProcedure.java
  traversal/procedure/GraphProcedure.java
  traversal/scanner/CombinationFinder.java
  traversal/scanner/GraphIterator.java
  traversal/structure/Structure.java
  traversal/test/ProcedurePermutator.java
Labels: type: refactor, priority: high, domain: traversal

#6642 Bump dependencies
  .bazelrc
  .grabl/automation.yml
  BUILD
  bin/workspace_status.sh
  dependencies/vaticle/repositories.bzl
Labels: domain: build, priority: medium

#6643 Deploy artifact snapshots only from 'vaticle' org's 'development' and 'master' branches
  .grabl/automation.yml
Labels: type: refactor, domain: build, priority: high

#6644 Fix tar.gz assembly having incorrect folder structure
  WORKSPACE
Labels: type: bug, domain: build

#6646 Simplify and fix traversal forward and back-tracking
  test/behaviour/typeql/TypeQLSteps.java
  traversal/procedure/GraphProcedure.java
  traversal/procedure/ProcedureVertex.java
  traversal/scanner/GraphIterator.java
  traversal/test/ProcedurePermutator.java
Labels: type: bug, priority: blocker

#6650 Reasoner planner treats IID and value-equality constraints as bounds
  reasoner/common/Planner.java
Labels: type: bug, priority: high, domain: reasoner

#6640 Answer count model for reasoner planner
  dependencies/vaticle/repositories.bzl
  reasoner/BUILD
  reasoner/planner/AnswerCountEstimator.java
  test/integration/reasoner/BUILD
  test/integration/reasoner/planner/AnswerCountEstimatorTest.java
Labels: type: feature, domain: reasoner
