Repository typedb/typedb, pull requests merged in 2023-11, with the labels that each got.

#6927 Allow disconnected relations
  common/exception/ErrorMessage.java
  concept/ConceptManager.java
  concept/thing/impl/RelationImpl.java
  concept/thing/impl/ThingImpl.java
  database/CoreTransaction.java
  dependencies/vaticle/artifacts.bzl
  dependencies/vaticle/repositories.bzl
  graph/ThingGraph.java
  graph/vertex/impl/AttributeVertexImpl.java
  query/Inserter.java
  test/assembly/console-script
  test/behaviour/query/TypeQLSteps.java
Labels: type: feature, type: refactor, priority: high

#6930 Bundle java deps ignoring transitive dependencies without maven coordinates
  database/CoreDatabase.java
  dependencies/vaticle/repositories.bzl
  migrator/BUILD
  server/BUILD
Labels: type: refactor, domain: build, priority: blocker

#6932 Allow parallelised concept and manager APIs
  server/TransactionService.java
Labels: type: feature, domain: server

#6933 Allow directory to be created on bootup
  common/exception/ErrorMessage.java
  server/TypeDBServer.java
Labels: type: feature, priority: medium, domain: server

#6935 Assemble and deploy a single apt package
  .factory/automation.yml
  BUILD
  WORKSPACE
  dependencies/vaticle/repositories.bzl
  migrator/BUILD
  server/BUILD
  server/test/BUILD
  test/deployment/AptTest.java
Labels: type: refactor, domain: build, priority: high

#6938 Ignore data directories that aren't TypeDB databases
  database/CoreDatabase.java
  database/CoreDatabaseManager.java
Labels: priority: low, domain: server
