Repository typedb/typedb, pull requests merged in 2023-08, with the labels that each got.

#6859 Bump vaticle dependencies for jNaCl
  dependencies/vaticle/repositories.bzl
Labels: domain: build

#6848 Fix NullPointerExceptions during reasoner stream graph construction
  reasoner/controller/ControllerRegistry.java
Labels: type: bug, domain: reasoner

#6864 Configure logging to respect size and time limits
  .factory/automation.yml
  database/CoreDatabase.java
  server/TypeDBServer.java
  server/common/Constants.java
  server/logging/CoreLogback.java
  server/parameters/CoreConfig.java
  server/parameters/CoreConfigFactory.java
  server/parameters/CoreConfigParser.java
  server/parameters/config.yml
  server/parameters/util/YAMLParser.java
  server/test/parameters/CoreConfigTest.java
  server/test/parameters/config/config-invalid-logger-output.yml
  server/test/parameters/config/config-minimal-abs-path.yml
  server/test/parameters/config/config-missing-data.yml
  server/test/parameters/config/config-missing-debugger.yml
  server/test/parameters/config/config-unrecognised-option.yml
  server/test/parameters/config/config-wrong-path-type.yml
  test/integration/server/BUILD
  test/integration/server/ParametersTest.java
  test/integration/util/Util.java
Labels: priority: blocker, domain: server

#6865 Disable stamping to fix windows builds
  .bazelrc
  .circleci/windows/prepare.bat
  .circleci/windows/test-assembly.bat
  dependencies/maven/artifacts.bzl
  dependencies/maven/artifacts.snapshot
Labels: type: bug, domain: build, priority: blocker

#6868 Add logic to allow unlimited archive age or sizes
  server/logging/CoreLogback.java
Labels: type: bug, priority: high, domain: server

#6871 Shrink distributions by excluding unnecessary native jars
  dependencies/vaticle/repositories.bzl
  test/integration/BasicTest.java
Labels: type: bug, domain: build, priority: high

#6880 Add configurable reasoner plan logging & periodic printing of counters
  reasoner/common/ReasonerPerfCounters.java
  reasoner/controller/ConcludableController.java
  reasoner/controller/ControllerRegistry.java
  reasoner/controller/RetrievableController.java
  reasoner/controller/RootConjunctionController.java
  reasoner/controller/RootDisjunctionController.java
  reasoner/planner/ReasonerPlanPrinter.java
  reasoner/planner/ReasonerPlanner.java
  test/integration/reasoner/planner/ReasonerPlannerTest.java
  test/integration/reasoner/planner/RecursivePlannerTest.java
Labels: type: feature, domain: reasoner

#6883 Allow type variables in insert and delete clauses
  common/exception/ErrorMessage.java
  concept/ConceptManager.java
  dependencies/vaticle/repositories.bzl
  query/Deleter.java
  query/Inserter.java
  query/common/Util.java
Labels: priority: blocker, domain: language
