Repository typedb/typedb, pull requests merged in 2023-05, with the labels that each got.

#6801 Relax rule validation to allow unanswerable but coherent rules
  logic/Rule.java
Labels: priority: medium, domain: reasoner

#6803 Fix condition for cyclic-scaling factor
  reasoner/planner/OrderingCoster.java
Labels: type: bug, domain: reasoner

#6805 Reasoner planner model bypassed reasoning
  reasoner/Reasoner.java
  reasoner/controller/ConcludableController.java
  reasoner/planner/ReasonerPlanner.java
  reasoner/planner/RecursivePlanner.java
  test/integration/reasoner/planner/ReasonerPlannerTest.java
  test/integration/reasoner/planner/RecursivePlannerTest.java
Labels: type: bug, domain: reasoner

#6808 Optimise queries by introducing concept-level schema cache
  concept/ConceptImpl.java
  concept/ConceptManager.java
  concept/thing/Relation.java
  concept/thing/Thing.java
  concept/thing/impl/AttributeImpl.java
  concept/thing/impl/EntityImpl.java
  concept/thing/impl/RelationImpl.java
  concept/thing/impl/ThingImpl.java
  concept/type/impl/AttributeTypeImpl.java
  concept/type/impl/EntityTypeImpl.java
  concept/type/impl/RelationTypeImpl.java
  concept/type/impl/RoleTypeImpl.java
  concept/type/impl/ThingTypeImpl.java
  concept/type/impl/TypeImpl.java
  encoding/Encoding.java
Labels: type: refactor, priority: high, domain: server

#6807 Check BDD value equality using native types
  concept/type/impl/ThingTypeImpl.java
  dependencies/vaticle/repositories.bzl
  logic/resolvable/Concludable.java
  pattern/constraint/thing/ThingConstraint.java
  pattern/constraint/type/TypeConstraint.java
  pattern/variable/VariableRegistry.java
  server/parameters/CoreSubcommandParser.java
  test/behaviour/typeql/TypeQLSteps.java
Labels: type: feature, priority: high

#6810 Fix assertions in Data Importer
  migrator/data/DataImporter.java
Labels: type: bug, priority: high

#6812 Enable reasoner perf counters for reasoner benchmark
  test/benchmark/reasoner/iam/common/BenchmarkRunner.java
Labels: type: bug, domain: reasoner

#6813 Introduce protocol versioning
  common/exception/ErrorMessage.java
  dependencies/vaticle/repositories.bzl
  server/TypeDBService.java
  server/common/ResponseBuilder.java
Labels: type: feature, domain: server

#6804 Update release notes workflow
  .factory/automation.yml
  BUILD
  RELEASE_NOTES_LATEST.md
  VERSION
  dependencies/vaticle/repositories.bzl
  tool/release/BUILD
  tool/release/create_notes.sh
Labels: type: refactor, domain: build, priority: high
