Repository typedb/typedb, pull requests merged in 2023-10, with the labels that each got.

#6905 Create separate distributions for each OS + Arch
  .circleci/config.yml
  .factory/automation.yml
  BUILD
  common/BUILD
  config/brew/typedb.rb
  database/BUILD
  dependencies/vaticle/artifacts.bzl
  dependencies/vaticle/repositories.bzl
  migrator/BUILD
  server/BUILD
  test/assembly/BUILD
  test/deployment/BUILD
  test/integration/logic/BUILD
Labels: type: refactor, domain: build, priority: blocker

#6913 Optional config values
  dependencies/vaticle/repositories.bzl
  server/parameters/CoreConfigFactory.java
  server/parameters/util/YAMLParser.java
  server/test/parameters/CoreConfigTest.java
Labels: priority: high, domain: server

#6915 Update README file
  README.md
  docs/banner.png
Labels: domain: documentation

#6926 Update reasoner benchmark to avoid role aliases
  test/benchmark/reasoner/iam/complex/ConjunctionStructureTest.java
  test/benchmark/reasoner/iam/complex/LanguageFeaturesTest.java
  test/benchmark/reasoner/iam/complex/language-features-test.tql
  test/benchmark/reasoner/iam/resources/types.tql
Labels: type: refactor, domain: reasoner
