Repository typedb/typedb, pull requests merged in 2023-06, with the labels that each got.

#6815 Relax rule conclusion validation to facilitate rules over abstract types
  common/exception/ErrorMessage.java
  logic/Rule.java
  logic/tool/TypeInference.java
Labels: type: feature, priority: high, domain: reasoner

#6821 Simplify the structure of server/lib in assemblies & distributions
  BUILD
  dependencies/vaticle/repositories.bzl
  server/BUILD
Labels: domain: build, domain: server

#6818 Replace RocskDB with SpeeDB
  database/BUILD
  dependencies/maven/artifacts.bzl
  dependencies/maven/artifacts.snapshot
  dependencies/vaticle/repositories.bzl
  migrator/BUILD
  server/BUILD
Labels: domain: build, domain: storage

#6823 Fix filtering of variables in update query
  query/Updater.java
Labels: type: bug, priority: high, domain: language

#6824 Native ARM builds for Mac and Linux
  .bazelrc
  common/BUILD
  database/BUILD
  dependencies/maven/artifacts.bzl
  dependencies/maven/artifacts.snapshot
  dependencies/vaticle/repositories.bzl
Labels: domain: build, priority: high

#6827 Export and import schema and data file together
  common/exception/ErrorMessage.java
  migrator/BUILD
  migrator/CoreMigratorClient.java
  migrator/MigratorService.java
  migrator/database/DatabaseExporter.java
  migrator/database/DatabaseImporter.java
  migrator/database/data.proto
  migrator/migrator.proto
  server/TypeDBServer.java
  server/parameters/CoreSubcommand.java
  server/parameters/CoreSubcommandParser.java
  test/benchmark/reasoner/iam/basic/BasicTest.java
  test/benchmark/reasoner/iam/common/Benchmark.java
  test/benchmark/reasoner/iam/common/BenchmarkRunner.java
  test/benchmark/reasoner/iam/complex/ComplexRuleGraphTest.java
  test/benchmark/reasoner/iam/complex/ConjunctionStructureTest.java
  test/benchmark/reasoner/iam/complex/LanguageFeaturesTest.java
  test/benchmark/reasoner/iam/complex/LargeDataTest.java
  test/benchmark/reasoner/iam/complex/RealQueriesTest.java
  test/integration/migrator/BUILD
  test/integration/migrator/MigratorTest.java
Labels: type: feature, priority: medium

#6828 Remove iterators where simple loops would suffice
  concept/ConceptManager.java
  database/CoreDatabase.java
  graph/ThingGraph.java
  graph/TypeGraph.java
  graph/adjacency/impl/ThingAdjacencyImpl.java
  logic/tool/TypeInference.java
  pattern/Conjunction.java
Labels: type: refactor, priority: low, domain: server

#6826 Conjunction stream graph optimisation
  concept/answer/ConceptMap.java
  reasoner/common/ReasonerPerfCounters.java
  reasoner/controller/AbstractController.java
  reasoner/controller/ConclusionController.java
  reasoner/controller/ConditionController.java
  reasoner/controller/ConjunctionController.java
  reasoner/controller/ControllerRegistry.java
  reasoner/controller/DisjunctionController.java
  reasoner/controller/NegationController.java
  reasoner/controller/NestedConjunctionController.java
  reasoner/controller/NestedDisjunctionController.java
  reasoner/controller/RootConjunctionController.java
  reasoner/controller/RootDisjunctionController.java
  reasoner/processor/AbstractProcessor.java
  reasoner/processor/reactive/AbstractStream.java
  reasoner/processor/reactive/common/PublisherRegistry.java
  test/benchmark/reasoner/iam/basic/BasicTest.java
  test/benchmark/reasoner/iam/common/Benchmark.java
  test/benchmark/reasoner/iam/common/BenchmarkRunner.java
  test/benchmark/reasoner/iam/complex/ComplexRuleGraphTest.java
  test/benchmark/reasoner/iam/complex/ConjunctionStructureTest.java
  test/benchmark/reasoner/iam/complex/LanguageFeaturesTest.java
  test/benchmark/reasoner/iam/complex/LargeDataTest.java
  test/benchmark/reasoner/iam/complex/RealQueriesTest.java
Labels: type: feature, domain: reasoner
