Repository typedb/typedb, pull requests merged in 2023-03, with the labels that each got.

#6754 Bump dependencies for TypeDB Cluster
  dependencies/vaticle/repositories.bzl
Labels: type: feature, domain: build, priority: high

#6744 Update reasoner planner to use a A*-Beam hybrid search
  reasoner/BUILD
  reasoner/planner/AnswerCountEstimator.java
  reasoner/planner/ConjunctionGraph.java
  reasoner/planner/HybridAStarBeamSearch.java
  reasoner/planner/OrderingCoster.java
  reasoner/planner/PartialOrderReductionTest.java
  reasoner/planner/ReasonerPlanner.java
  reasoner/planner/RecursivePlanner.java
  test/integration/reasoner/planner/AnswerCountEstimatorTest.java
  test/integration/reasoner/planner/ReasonerPlannerTest.java
  test/integration/reasoner/planner/RecursivePlannerTest.java
Labels: type: feature, domain: reasoner

#6759 Make plan linearisation respect native sort
  traversal/planner/GraphPlanner.java
  traversal/planner/PlannerVertex.java
Labels: type: bug, priority: blocker, domain: traversal
