Repository typedb/typedb, pull requests merged in 2023-09, with the labels that each got.

#6884 Deletes are idempotent instead of throwing
  common/exception/ErrorMessage.java
  concept/type/ThingType.java
  concept/type/impl/ThingTypeImpl.java
  dependencies/vaticle/repositories.bzl
  logic/tool/TypeInference.java
  query/Deleter.java
  query/Inserter.java
  query/Matcher.java
  query/Updater.java
  reasoner/Reasoner.java
Labels: type: feature, type: refactor, priority: blocker

#6878 Changes for audit logging
  dependencies/maven/artifacts.snapshot
  dependencies/vaticle/repositories.bzl
  server/TransactionService.java
  server/TypeDBServer.java
  server/TypeDBService.java
  server/logging/CoreLogback.java
  server/parameters/CoreConfig.java
  server/parameters/CoreConfigParser.java
Labels: type: feature, type: refactor, domain: server

#6903 Replace 'client' terminology with 'driver' terminology
  README.md
  common/exception/ErrorMessage.java
  dependencies/vaticle/repositories.bzl
  server/TypeDBService.java
Labels: type: refactor, priority: blocker

#6904 Handle transitivity in [Thing]TypeGetSubtypes requests
  server/concept/TypeService.java
Labels: type: bug, priority: blocker, domain: server
