Repository typedb/typedb, pull requests merged in 2024-12, with the labels that each got.

#7262 Add more typing information into key prefixes to optimise storage lookups
  Cargo.lock
  common/primitive/primitives.rs
  concept/iterator.rs
  concept/tests/test_statistics.rs
  concept/tests/test_thing.rs
  concept/thing/attribute.rs
  concept/thing/entity.rs
  concept/thing/object.rs
  concept/thing/relation.rs
  concept/thing/thing_manager.rs
  concept/type_/type_manager/type_cache/kind_cache.rs
  concept/type_/type_manager/type_reader.rs
  concept/type_/type_manager/validation/operation_time_validation.rs
  encoding/graph/common/schema_id_allocator.rs
  encoding/graph/common/value_hasher.rs
  encoding/graph/thing/edge.rs
  encoding/graph/thing/mod.rs
  encoding/graph/thing/vertex_attribute.rs
  encoding/graph/thing/vertex_generator.rs
  encoding/graph/thing/vertex_object.rs
  encoding/graph/type_/vertex.rs
  encoding/layout/prefix.rs
  executor/BUILD
  executor/Cargo.toml
  executor/instruction/has_executor.rs
  executor/instruction/has_reverse_executor.rs
  executor/instruction/links_executor.rs
  executor/instruction/links_reverse_executor.rs
  executor/instruction/mod.rs
  executor/pipeline/fetch.rs
  executor/tests/execute_comparison_check.rs
  function/function_manager.rs
  storage/benches/bench_mvcc_storage.rs
  storage/iterator.rs
  storage/key_range.rs
  storage/key_value.rs
  storage/keyspace/iterator.rs
  storage/keyspace/keyspace.rs
  storage/snapshot/buffer.rs
  storage/snapshot/iterator.rs
  storage/snapshot/snapshot.rs
  storage/storage.rs
  storage/tests/test_isolation.rs
  storage/tests/test_snapshot.rs
  storage/tests/test_storage.rs
  storage/tests/test_utils_storage/lib.rs
  storage/tests/test_utils_storage/mock_snapshot.rs
  tests/behaviour/steps/concept/thing/has.rs
Labels: type: refactor, domain: executor

#7280 Partition data into Keyspaces and configure RocksDB
  .cargo/config.toml
  Cargo.lock
  common/bytes/util.rs
  concept/iterator.rs
  concept/thing/entity.rs
  concept/thing/mod.rs
  concept/thing/relation.rs
  concept/thing/statistics.rs
  concept/thing/thing_manager.rs
  encoding/BUILD
  encoding/Cargo.toml
  encoding/encoding.rs
  encoding/graph/common/value_hasher.rs
  encoding/graph/definition/definition_key.rs
  encoding/graph/thing/edge.rs
  encoding/graph/thing/mod.rs
  encoding/graph/thing/property.rs
  encoding/graph/thing/vertex_attribute.rs
  encoding/graph/thing/vertex_generator.rs
  encoding/graph/thing/vertex_object.rs
  encoding/graph/type_/edge.rs
  encoding/graph/type_/index.rs
  encoding/graph/type_/property.rs
  encoding/graph/type_/vertex.rs
  encoding/layout/prefix.rs
  encoding/value/boolean_bytes.rs
  encoding/value/date_bytes.rs
  encoding/value/date_time_bytes.rs
  encoding/value/date_time_tz_bytes.rs
  encoding/value/decimal_bytes.rs
  encoding/value/double_bytes.rs
  encoding/value/duration_bytes.rs
  encoding/value/long_bytes.rs
  encoding/value/value_struct.rs
  resource/constants.rs
  server/service/transaction_service.rs
  storage/keyspace/keyspace.rs
Labels: type: feature, domain: storage

#7285 Sync TypeDB Core artifacts to TypeDB Benchmark repo
  .circleci/config.yml
Labels: domain: build, priority: high

#7282 Beam planner
  answer/lib.rs
  compiler/annotation/function.rs
  compiler/annotation/type_seeder.rs
  compiler/executable/match_/planner/mod.rs
  compiler/executable/match_/planner/plan.rs
  compiler/executable/match_/planner/vertex/constraint.rs
  compiler/executable/match_/planner/vertex/mod.rs
  compiler/executable/match_/planner/vertex/variable.rs
  concept/thing/object.rs
  concept/thing/thing_manager.rs
  encoding/encoding.rs
  executor/instruction/has_executor.rs
  executor/instruction/has_reverse_executor.rs
  executor/instruction/isa_executor.rs
  executor/instruction/isa_reverse_executor.rs
  executor/instruction/iterator.rs
  executor/instruction/plays_reverse_executor.rs
  executor/read/immediate_executor.rs
  executor/read/pattern_executor.rs
  executor/tests/compile_execute.rs
  executor/tests/execute_comparison_check.rs
  query/benches/bench_insert_queries.rs
  query/benches/bench_insert_queries_multithreaded.rs
  query/query_manager.rs
  resource/constants.rs
  server/service/transaction_service.rs
  server/typedb.rs
  storage/key_value.rs
  tests/behaviour/concept/migration/function.rs
  tests/behaviour/debug/debug.feature
  tests/behaviour/debug/debug.rs
  tests/behaviour/steps/query/typeql.rs
Labels: type: feature, type: refactor

#7286 Async authentication layer
  Cargo.lock
  server/BUILD
  server/Cargo.toml
  server/authenticator.rs
  server/typedb.rs
  user/user_manager.rs
Labels: type: refactor, priority: high, domain: server

#7287 In-memory authentication cache
  Cargo.lock
  resource/constants.rs
  server/BUILD
  server/Cargo.toml
  server/authenticator.rs
  server/authenticator_cache.rs
  server/lib.rs
  server/service/typedb_service.rs
  server/typedb.rs
Labels: priority: high, domain: server

#7291 Optimize statistics update routine
  concept/thing/statistics.rs
  database/transaction.rs
Labels: type: bug, priority: blocker, domain: storage

#7293 Extensible user credential representation in system database
  .circleci/config.yml
  system/repositories.rs
  system/schema.tql
Labels: type: refactor, priority: high

#7295 Fix default data directory location
  BUILD
  resource/constants.rs
  server/parameters/config.rs
  server/typedb.rs
Labels: type: bug, priority: high

#7294 Add server address CLI argument
  main.rs
  server/parameters/cli.rs
  server/parameters/config.rs
  server/typedb.rs
Labels: priority: high, domain: server

#7296 Introduce PostHog diagnostics and correct server shutdown
  BUILD
  common/concurrency/tokio_interval_runner.rs
  diagnostics/diagnostics_manager.rs
  diagnostics/lib.rs
  diagnostics/metrics.rs
  diagnostics/monitoring_server.rs
  diagnostics/reporter.rs
  diagnostics/version.rs
  main.rs
  resource/BUILD
  resource/constants.rs
  server/parameters/cli.rs
  server/parameters/config.rs
  server/typedb.rs
  tests/behaviour/steps/connection/mod.rs
Labels: priority: high, domain: server
