Repository typedb/typedb, pull requests merged in 2024-09, with the labels that each got.

#7159 Modifier stages for pipelines
  compiler/delete/program.rs
  compiler/insert/type_check.rs
  compiler/lib.rs
  compiler/match_/inference/type_inference.rs
  compiler/match_/inference/type_seeder.rs
  compiler/match_/planner/pattern_plan.rs
  compiler/modifiers.rs
  dependencies/vaticle/repositories.bzl
  executor/batch.rs
  executor/pattern_executor.rs
  executor/pipeline/delete.rs
  executor/pipeline/initial.rs
  executor/pipeline/insert.rs
  executor/pipeline/match_.rs
  executor/pipeline/mod.rs
  executor/pipeline/modifiers.rs
  executor/pipeline/stage.rs
  executor/row.rs
  executor/tests/execute_has.rs
  executor/tests/pipelines.rs
  executor/tests/writes.rs
  ir/lib.rs
  ir/pattern/constraint.rs
  ir/pattern/variable_category.rs
  ir/program/block.rs
  ir/program/modifier.rs
  ir/translation/constraints.rs
  ir/translation/expression.rs
  ir/translation/literal.rs
  ir/translation/mod.rs
  ir/translation/modifiers.rs
  query/annotation.rs
  query/compilation.rs
  query/query_manager.rs
  query/translation.rs
  server/parameters/config.rs
  server/service/transaction_service.rs
  tests/behaviour/query/language/BUILD
  tests/behaviour/query/language/pipelines.rs
  tests/behaviour/steps/BUILD
  tests/behaviour/steps/query/typeql.rs
Labels: type: feature, domain: traversal

#7164 Type inference and pipeline fixes
  compiler/insert/mod.rs
  compiler/insert/program.rs
  executor/row.rs
  executor/write/write_instruction.rs
  ir/program/block.rs
  ir/translation/writes.rs
  query/compilation.rs
Labels: type: bug, domain: server

#7163 Introduce deployment jobs on CircleCI
  .bazelrc
  .circleci/config.yml
  .factory/automation.yml
  BUILD
  VERSION
  WORKSPACE
  docker/BUILD
  docker/images.bzl
  resource/BUILD
  server/parameters/config.rs
  server/typedb.rs
  tests/assembly/BUILD
  tests/assembly/assembly.rs
Labels: domain: build

#7166 Clean up dead code & some warnings
  compiler/expression/block_compiler.rs
  compiler/expression/mod.rs
  compiler/match_/inference/pattern_type_inference.rs
  compiler/match_/inference/type_inference.rs
  compiler/match_/inference/type_seeder.rs
  executor/pipeline/initial.rs
  executor/tests/execute_comparison_check.rs
  executor/tests/execute_has.rs
  executor/tests/execute_select.rs
  executor/tests/writes.rs
  executor/write/write_instruction.rs
  query/annotation.rs
  query/benches/BUILD
  query/benches/bench_insert_queries.rs
  query/benches/bench_insert_queries_multithreaded.rs
  query/compilation.rs
  query/query_manager.rs
  server/service/transaction_service.rs
  tests/behaviour/steps/concept/type_/attribute_type.rs
Labels: type: refactor, domain: server

#7167 Fix greedy planner: variables are produced immediately
  WORKSPACE
  compiler/match_/instructions/mod.rs
  compiler/match_/planner/pattern_plan.rs
  compiler/match_/planner/vertex/mod.rs
  dependencies/vaticle/repositories.bzl
  encoding/graph/thing/edge.rs
  executor/instruction/mod.rs
  executor/tests/compile_execute.rs
  ir/pattern/mod.rs
  main.rs
  server/service/transaction_service.rs
  tests/behaviour/concept/thing/attribute.rs
  tests/behaviour/concept/thing/entity.rs
  tests/behaviour/concept/thing/has.rs
  tests/behaviour/concept/thing/relation.rs
  tests/behaviour/concept/thing/roleplayer.rs
  tests/behaviour/concept/type/attribute_type.rs
  tests/behaviour/concept/type/entity_type.rs
  tests/behaviour/concept/type/owns.rs
  tests/behaviour/concept/type/owns_annotations.rs
  tests/behaviour/concept/type/plays.rs
  tests/behaviour/concept/type/relation_type.rs
  tests/behaviour/connection/database/database.rs
  tests/behaviour/connection/transaction/transaction.rs
  tests/behaviour/query/language/define.rs
  tests/behaviour/query/language/expressions.rs
  tests/behaviour/query/language/insert.rs
  tests/behaviour/query/language/match.rs
  tests/behaviour/query/language/pipelines.rs
  tests/behaviour/query/language/redefine.rs
Labels: type: bug, priority: medium, domain: executor

#7168 Update TypeDB Console version
  dependencies/vaticle/artifacts.bzl
Labels: type: feature, priority: high

#7170 Add support for ISO timezones; finalise datetime & duration support
  common/bytes/util.rs
  common/lending_iterator/lending_iterator.rs
  compiler/match_/planner/pattern_plan.rs
  concept/tests/test_type.rs
  concept/type_/type_manager.rs
  dependencies/vaticle/repositories.bzl
  encoding/value/date_time_tz_bytes.rs
  encoding/value/decimal_value.rs
  encoding/value/duration_value.rs
  encoding/value/mod.rs
  encoding/value/primitive_encoding.rs
  encoding/value/timezone.rs
  encoding/value/value.rs
  encoding/value/value_type.rs
  executor/instruction/mod.rs
  executor/tests/execute_comparison_check.rs
  ir/lib.rs
  ir/pattern/constraint.rs
  ir/translation/constraints.rs
  ir/translation/literal.rs
  server/service/answer.rs
  storage/isolation_manager.rs
  storage/iterator.rs
  storage/keyspace/iterator.rs
  storage/keyspace/raw_iterator.rs
  storage/snapshot/buffer.rs
  storage/snapshot/iterator.rs
  storage/snapshot/snapshot.rs
  storage/storage.rs
  tests/behaviour/steps/params.rs
Labels: priority: high, domain: language

#7174 Update connection tests for 3.0
  dependencies/vaticle/repositories.bzl
  tests/behaviour/connection/BUILD
  tests/behaviour/connection/database.rs
  tests/behaviour/connection/database/BUILD
  tests/behaviour/connection/transaction.rs
  tests/behaviour/connection/transaction/BUILD
  tests/behaviour/steps/connection/database.rs
  tests/behaviour/steps/connection/transaction.rs
  tests/behaviour/steps/lib.rs
  tests/behaviour/steps/query/typeql.rs
Labels: domain: tests

#7169 Introduce reduce stages for pipelines
  compiler/expression/block_compiler.rs
  compiler/insert/program.rs
  compiler/lib.rs
  compiler/match_/inference/mod.rs
  compiler/match_/inference/pattern_type_inference.rs
  compiler/match_/inference/type_inference.rs
  compiler/match_/inference/type_seeder.rs
  compiler/match_/planner/pattern_plan.rs
  compiler/reduce.rs
  dependencies/vaticle/repositories.bzl
  executor/lib.rs
  executor/pattern_executor.rs
  executor/pipeline/mod.rs
  executor/pipeline/reduce.rs
  executor/pipeline/stage.rs
  executor/reduce_executor.rs
  executor/tests/execute_has.rs
  ir/lib.rs
  ir/program/block.rs
  ir/program/function.rs
  ir/program/mod.rs
  ir/program/modifier.rs
  ir/program/reduce.rs
  ir/tests/program.rs
  ir/translation/function.rs
  ir/translation/mod.rs
  ir/translation/modifiers.rs
  ir/translation/reduce.rs
  query/annotation.rs
  query/compilation.rs
  query/error.rs
  query/query_manager.rs
  query/translation.rs
  tests/behaviour/query/language/BUILD
  tests/behaviour/query/language/reduce.rs
  tests/behaviour/steps/query/typeql.rs
Labels: domain: executor

#7173 Include console in 3.0 distribution
  BUILD
  WORKSPACE
  binary/BUILD
  binary/typedb
  dependencies/vaticle/artifacts.bzl
  docker/BUILD
Labels: domain: build

#7176 Exclude console from docker image
  .circleci/config.yml
  BUILD
  binary/typedb
  tests/assembly/BUILD
Labels: type: refactor

#7178 Add console script as assembly test
  tests/assembly/BUILD
  tests/assembly/assembly.rs
  tests/assembly/script.tql
Labels: type: feature, domain: build, domain: tests
