Repository typedb/typedb, pull requests merged in 2024-04, with the labels that each got.

#7017 Add basic MVCC tests
  storage/isolation_manager.rs
  storage/storage.rs
  storage/tests/test_mvcc.rs
Labels: domain: storage

#7015 Implement storage error handling and propagation up to concept layer
  concept/benches/bench_thing_write.rs
  concept/error.rs
  concept/iterator.rs
  concept/tests/test_thing.rs
  concept/tests/test_type.rs
  concept/thing/attribute.rs
  concept/thing/entity.rs
  concept/thing/relation.rs
  concept/thing/thing_manager.rs
  concept/type_/attribute_type.rs
  concept/type_/entity_type.rs
  concept/type_/mod.rs
  concept/type_/object_type.rs
  concept/type_/relation_type.rs
  concept/type_/role_type.rs
  concept/type_/type_cache.rs
  concept/type_/type_manager.rs
  database/database.rs
  encoding/benches/benchmark.rs
  encoding/error.rs
  encoding/graph/thing/vertex_generator.rs
  encoding/graph/type_/vertex_generator.rs
  encoding/tests/test_attribute_vertex.rs
  server/typedb.rs
  storage/benches/bench_mvcc_storage.rs
  storage/durability/durability.rs
  storage/durability/wal.rs
  storage/error.rs
  storage/isolation_manager.rs
  storage/iterator.rs
  storage/key_value.rs
  storage/keyspace/keyspace.rs
  storage/keyspace/mod.rs
  storage/snapshot/buffer.rs
  storage/snapshot/iterator.rs
  storage/snapshot/mod.rs
  storage/snapshot/snapshot.rs
  storage/snapshot/write.rs
  storage/storage.rs
  storage/tests/BUILD
  storage/tests/test_isolation.rs
  storage/tests/test_mvcc.rs
  storage/tests/test_snapshot.rs
  storage/tests/test_storage.rs
Labels: type: feature, type: refactor, priority: blocker, domain: storage

#7025 Move put validation to commit time, update put state during validation
  common/primitive/u80.rs
  storage/isolation_manager.rs
  storage/snapshot/buffer.rs
  storage/snapshot/snapshot.rs
  storage/snapshot/write.rs
  storage/storage.rs
  storage/tests/test_isolation.rs
Labels: type: feature, type: refactor, priority: high, domain: storage

#7026 Behaviour tests base: context & steps library, sample feature test
  WORKSPACE
  dependencies/vaticle/repositories.bzl
  server/typedb.rs
  tests/behaviour/BUILD
  tests/behaviour/connection/BUILD
  tests/behaviour/connection/database/BUILD
  tests/behaviour/connection/database/database.rs
  tests/behaviour/debug/BUILD
  tests/behaviour/debug/debug.feature
  tests/behaviour/debug/debug.rs
  tests/behaviour/steps/BUILD
  tests/behaviour/steps/connection/database.rs
  tests/behaviour/steps/connection/mod.rs
  tests/behaviour/steps/lib.rs
  tests/behaviour/steps/util.rs
  util/test/test_utils.rs
Labels: type: feature, priority: high, domain: tests

#7018 Isolation manager timeline optimisation
  common/primitive/u80.rs
  resource/constants.rs
  storage/durability/durability.rs
  storage/durability/wal.rs
  storage/isolation_manager.rs
  storage/snapshot/snapshot.rs
  storage/storage.rs
  storage/tests/test_isolation.rs
Labels: domain: storage

#7033 Add MVCC test for concurrent conflicting write
  storage/tests/test_mvcc.rs
Labels: type: bug, domain: storage

#7034 Reintroduce storage layer isolation tests based on hermitage
  storage/tests/test_isolation.rs
Labels: type: feature, domain: storage

#7036 Simplify isolation manager based on continuous sequence number guarantee
  common/primitive/primitives.rs
  common/primitive/u80.rs
  storage/durability/durability.rs
  storage/durability/wal.rs
  storage/isolation_manager.rs
  storage/storage.rs
  storage/tests/test_isolation.rs
Labels: domain: storage

#7040 Allow Type IDs of deleted types to be reused
  WORKSPACE
  concept/benches/bench_thing_write.rs
  concept/error.rs
  concept/tests/test_thing.rs
  concept/tests/test_type.rs
  concept/type_/relation_type.rs
  concept/type_/type_manager.rs
  database/database.rs
  database/transaction.rs
  dependencies/vaticle/artifacts.bzl
  encoding/error.rs
  encoding/graph/thing/vertex_generator.rs
  encoding/graph/thing/vertex_object.rs
  encoding/graph/type_/mod.rs
  encoding/graph/type_/vertex.rs
  encoding/graph/type_/vertex_generator.rs
  encoding/tests/test_attribute_vertex.rs
  encoding/tests/test_type_vertex.rs
  encoding/value/string.rs
  storage/storage.rs
Labels: domain: storage

#7043 Check supertypes of relation when inferring player role types during insert
  dependencies/vaticle/repositories.bzl
  query/common/Util.java
Labels: type: bug, priority: high

#7045 Sentry transaction
  common/diagnostics/Diagnostics.java
  database/CoreDatabaseManager.java
Labels: type: feature, priority: high, domain: server

#7048 Use Rosetta for Intel Mac jobs in Circle CI
  .circleci/config.yml
Labels: type: feature, priority: blocker, domain: tests

#7049 Fix application of query bounds through match-fetch queries
  dependencies/vaticle/repositories.bzl
  pattern/Conjunction.java
  pattern/Disjunction.java
  query/Fetcher.java
  query/Inserter.java
  reasoner/Reasoner.java
  reasoner/controller/ConclusionController.java
Labels: type: bug, priority: high, domain: language
