Repository typedb/typedb, pull requests merged in 2025-01, with the labels that each got.

#7304 Update grouped reduction syntax and add reduction tests
  .factory/automation.yml
  Cargo.lock
  common/error/Cargo.toml
  common/structural_equality/Cargo.toml
  compiler/Cargo.toml
  compiler/executable/pipeline.rs
  database/Cargo.toml
  dependencies/typedb/repositories.bzl
  executor/Cargo.toml
  function/Cargo.toml
  ir/Cargo.toml
  ir/pipeline/reduce.rs
  ir/translation/pipeline.rs
  ir/translation/reduce.rs
  query/Cargo.toml
  server/Cargo.toml
  system/Cargo.toml
  tests/behaviour/steps/Cargo.toml
  user/Cargo.toml
Labels: type: refactor, priority: high, domain: language

#7300 Fix rollback and remove dependency on typedb-common
  WORKSPACE
  dependencies/typedb/repositories.bzl
  server/service/response_builders.rs
  server/service/transaction_service.rs
  tests/behaviour/steps/connection/transaction.rs
Labels: type: bug, domain: server

#7305 Improve TypeDB error macro
  common/error/error.rs
  compiler/annotation/function.rs
  compiler/annotation/match_inference.rs
  compiler/annotation/mod.rs
  compiler/executable/fetch/executable.rs
  compiler/executable/match_/planner/plan.rs
  compiler/executable/mod.rs
  compiler/transformation/mod.rs
  concept/error.rs
  concept/thing/statistics.rs
  concept/thing/thing_manager/validation/mod.rs
  concept/type_/constraint.rs
  concept/type_/type_manager.rs
  concept/type_/type_manager/type_cache/type_cache.rs
  concept/type_/type_manager/validation/mod.rs
  database/database.rs
  database/transaction.rs
  diagnostics/diagnostics_manager.rs
  diagnostics/lib.rs
  executor/error.rs
  executor/pipeline/fetch.rs
  executor/pipeline/mod.rs
  executor/pipeline/pipeline.rs
  executor/write/mod.rs
  function/lib.rs
  ir/lib.rs
  ir/pattern/negation.rs
  ir/pattern/optional.rs
  ir/pipeline/mod.rs
  ir/translation/constraints.rs
  ir/translation/fetch.rs
  query/definable_resolution.rs
  query/define.rs
  query/error.rs
  query/redefine.rs
  query/undefine.rs
  resource/constants.rs
  server/service/transaction_service.rs
  server/service/typedb_service.rs
  server/typedb.rs
  storage/durability_client.rs
  storage/recovery/checkpoint.rs
  storage/recovery/commit_recovery.rs
  storage/snapshot/snapshot.rs
  storage/storage.rs
  system/repositories.rs
  tests/behaviour/steps/connection/transaction.rs
  user/errors.rs
Labels: type: refactor, priority: medium

#7307 Add a more user-friendly taken address error
  diagnostics/monitoring_server.rs
  docs/spec.md
  server/typedb.rs
  tests/behaviour/steps/connection/mod.rs
Labels: domain: server

#7311 Cartesian input fix
  concept/thing/thing_manager.rs
  executor/read/immediate_executor.rs
Labels: type: bug, priority: high, domain: executor

#7309 Implement release pipeline for windows
  .circleci/config.yml
  .circleci/windows/dependencies.config
  .circleci/windows/deploy_release.bat
  .circleci/windows/deploy_snapshot.bat
  .circleci/windows/git.patch
  .circleci/windows/prepare.bat
  .circleci/windows/test-assembly.bat
  BUILD
  binary/BUILD
  binary/typedb.bat
Labels: domain: build

#7310 Extend query planning to functions & introduce IAM benchmark
  Cargo.lock
  Cargo.toml
  compiler/annotation/function.rs
  compiler/annotation/type_seeder.rs
  compiler/executable/fetch/executable.rs
  compiler/executable/function.rs
  compiler/executable/match_/planner/function_plan.rs
  compiler/executable/match_/planner/mod.rs
  compiler/executable/match_/planner/plan.rs
  compiler/executable/match_/planner/vertex/mod.rs
  compiler/executable/match_/planner/vertex/variable.rs
  compiler/executable/pipeline.rs
  database/database.rs
  dependencies/typedb/repositories.bzl
  executor/match_executor.rs
  executor/pipeline/fetch.rs
  executor/pipeline/match_.rs
  executor/pipeline/pipeline.rs
  executor/read/mod.rs
  executor/read/nested_pattern_executor.rs
  executor/read/step_executor.rs
  executor/read/tabled_call_executor.rs
  executor/read/tabled_functions.rs
  executor/tests/compile_execute.rs
  executor/tests/execute_comparison_check.rs
  executor/tests/execute_expression.rs
  executor/tests/execute_has.rs
  executor/tests/execute_isa.rs
  executor/tests/execute_links.rs
  executor/tests/execute_relation_index.rs
  executor/tests/execute_select.rs
  ir/pattern/conjunction.rs
  ir/pattern/constraint.rs
  ir/pattern/disjunction.rs
  query/query_manager.rs
  tests/benchmarks/iam/BUILD
  tests/benchmarks/iam/bench_iam.rs
  tests/benchmarks/iam/data.tql
  tests/benchmarks/iam/functions.tql
  tests/benchmarks/iam/schema.tql
Labels: domain: executor

#7316 Make windows distribution directory structure consistent with other platforms
  .circleci/windows/git.patch
  binary/typedb.bat
Labels: domain: build

#7318 Fix TypeDB reporting crashes when CA certificates are not found
  Cargo.lock
  Cargo.toml
  RELEASE_TEMPLATE.md
  common/error/Cargo.toml
  common/structural_equality/Cargo.toml
  compiler/Cargo.toml
  database/Cargo.toml
  dependencies/typedb/repositories.bzl
  diagnostics/BUILD
  diagnostics/Cargo.toml
  diagnostics/reporter.rs
  executor/Cargo.toml
  function/Cargo.toml
  ir/Cargo.toml
  query/Cargo.toml
  server/Cargo.toml
  system/Cargo.toml
  tests/behaviour/steps/Cargo.toml
  user/Cargo.toml
Labels: type: bug, priority: high

#7325 Add correct version for CLI --version flag. Substitute encryption-related config crashes by user errors.
  BUILD
  Cargo.lock
  Cargo.toml
  common/error/Cargo.toml
  common/structural_equality/Cargo.toml
  compiler/Cargo.toml
  database/Cargo.toml
  encoding/value/value.rs
  executor/Cargo.toml
  executor/read/collecting_stage_executor.rs
  function/Cargo.toml
  ir/Cargo.toml
  main.rs
  query/Cargo.toml
  resource/BUILD
  resource/constants.rs
  server/Cargo.toml
  server/parameters/cli.rs
  server/typedb.rs
  system/Cargo.toml
  tests/behaviour/steps/Cargo.toml
  tests/behaviour/steps/params.rs
  user/Cargo.toml
Labels: type: bug, type: refactor, domain: server

#7328 Bump version & prepare relaese notes for 3.0.4
  RELEASE_NOTES_LATEST.md
  VERSION
  dependencies/typedb/artifacts.bzl
  dependencies/typedb/repositories.bzl
Labels: domain: build

#7330 Fix relates double specialization
  .factory/automation.yml
  concept/error.rs
  concept/type_/constraint.rs
  concept/type_/mod.rs
  concept/type_/relates.rs
  concept/type_/relation_type.rs
  concept/type_/role_type.rs
  concept/type_/type_manager.rs
  concept/type_/type_manager/type_cache/kind_cache.rs
  concept/type_/type_manager/type_cache/type_cache.rs
  concept/type_/type_manager/type_reader.rs
  concept/type_/type_manager/validation/commit_time_validation.rs
  concept/type_/type_manager/validation/mod.rs
  concept/type_/type_manager/validation/operation_time_validation.rs
  dependencies/typedb/repositories.bzl
  query/definable_resolution.rs
  query/error.rs
  query/undefine.rs
  tests/behaviour/steps/concept/type_/relation_type.rs
Labels: type: bug, priority: high, domain: server

#7332 Introduce role-player deduplication & Expand BDD coverage
  compiler/annotation/type_annotations.rs
  compiler/annotation/type_seeder.rs
  compiler/executable/delete/executable.rs
  compiler/executable/insert/type_check.rs
  compiler/executable/match_/instructions/mod.rs
  compiler/executable/match_/planner/plan.rs
  compiler/executable/match_/planner/vertex/mod.rs
  compiler/transformation/transform.rs
  executor/instruction/mod.rs
  ir/pattern/constraint.rs
  ir/translation/constraints.rs
  tests/behaviour/query/language/BUILD
  tests/behaviour/query/language/negation.rs
Labels: type: bug, domain: executor, domain: tests
