Repository typedb/typedb, pull requests merged in 2025-04, with the labels that each got.

#7418 Compile only the functions referenced in the query
  compiler/executable/pipeline.rs
  ir/pattern/constraint.rs
Labels: type: refactor, domain: executor

#7422 Release Windows in published mode and introduce declared features for Cargo sync
  .circleci/windows/deploy_release.bat
  .circleci/windows/deploy_snapshot.bat
  dependencies/typedb/repositories.bzl
  ir/Cargo.toml
  server/BUILD
  server/Cargo.toml
Labels: type: bug, domain: build, priority: high

#7421 Refactor sort stage to avoid code duplication
  executor/batch.rs
  executor/pipeline/modifiers.rs
  executor/read/collecting_stage_executor.rs
Labels: domain: executor

#7415 Better type-inference errors by pre-checking constraints for empty type annotations
  compiler/annotation/match_inference.rs
  compiler/annotation/mod.rs
  compiler/annotation/type_inference.rs
  dependencies/typedb/repositories.bzl
  ir/pattern/constraint.rs
Labels: type: feature, priority: high, domain: language

#7423 Fix disjoint variable validation logic
  dependencies/typedb/repositories.bzl
  ir/pattern/conjunction.rs
  ir/pattern/disjunction.rs
  ir/pattern/negation.rs
  ir/pattern/nested_pattern.rs
  ir/pipeline/block.rs
Labels: type: bug, priority: medium, domain: language

#7420 Make type annotations local to a conjunction
  compiler/annotation/expression/block_compiler.rs
  compiler/annotation/function.rs
  compiler/annotation/match_inference.rs
  compiler/annotation/pipeline.rs
  compiler/annotation/type_annotations.rs
  compiler/annotation/type_inference.rs
  compiler/annotation/type_seeder.rs
  compiler/executable/function/executable.rs
  compiler/executable/match_/instructions/mod.rs
  compiler/executable/match_/planner/mod.rs
  compiler/executable/match_/planner/plan.rs
  compiler/executable/match_/planner/vertex/constraint.rs
  compiler/executable/pipeline.rs
  compiler/tests/transformation.rs
  compiler/transformation/redundant_constraints.rs
  compiler/transformation/relation_index.rs
  dependencies/typedb/repositories.bzl
  executor/instruction/mod.rs
  executor/tests/compile_execute.rs
  executor/tests/execute_comparison_check.rs
  executor/tests/execute_has.rs
  executor/tests/execute_isa.rs
  executor/tests/execute_links.rs
  executor/tests/execute_relation_index.rs
  executor/tests/execute_select.rs
  executor/tests/writes.rs
  function/function_manager.rs
  ir/pattern/conjunction.rs
  ir/pipeline/block.rs
Labels: type: bug, type: refactor

#7425 Simplify resolving role-types in writes
  compiler/executable/delete/executable.rs
  compiler/executable/insert/executable.rs
  compiler/executable/match_/planner/plan.rs
  compiler/executable/mod.rs
  compiler/executable/update/executable.rs
  executor/instruction/mod.rs
Labels: domain: executor

#7402 Introduce branch provenance tracking
  Cargo.lock
  compiler/annotation/type_annotations.rs
  compiler/executable/fetch/executable.rs
  compiler/executable/match_/planner/match_executable.rs
  compiler/executable/match_/planner/mod.rs
  compiler/executable/match_/planner/plan.rs
  compiler/executable/pipeline.rs
  compiler/lib.rs
  compiler/query_structure.rs
  executor/batch.rs
  executor/lib.rs
  executor/pipeline/fetch.rs
  executor/pipeline/insert.rs
  executor/pipeline/modifiers.rs
  executor/pipeline/pipeline.rs
  executor/read/immediate_executor.rs
  executor/read/nested_pattern_executor.rs
  executor/read/pattern_executor.rs
  executor/read/step_executor.rs
  executor/read/stream_modifier.rs
  executor/read/tabled_call_executor.rs
  executor/read/tabled_functions.rs
  executor/reduce_executor.rs
  executor/row.rs
  executor/tests/writes.rs
  ir/pattern/disjunction.rs
  ir/pattern/mod.rs
  ir/pipeline/block.rs
  ir/pipeline/mod.rs
  query/query_manager.rs
  server/BUILD
  server/Cargo.toml
  server/service/mod.rs
  server/service/query_structure.rs
  server/service/transaction_service.rs
Labels: type: feature, domain: executor

#7431 Add cmake to Windows CI dependencies
  .circleci/windows/dependencies.config
Labels: domain: build, priority: blocker

#7428 Add branch provenance & query structure to HTTP response
  compiler/executable/pipeline.rs
  compiler/query_structure.rs
  executor/lib.rs
  executor/pipeline/pipeline.rs
  executor/row.rs
  ir/pattern/constraint.rs
  ir/pattern/function_call.rs
  query/query_manager.rs
  server/server.rs
  server/service/grpc/transaction_service.rs
  server/service/http/message/query/mod.rs
  server/service/http/message/query/query_structure.rs
  server/service/http/message/query/row.rs
  server/service/http/transaction_service.rs
  server/service/mod.rs
  server/service/query_structure.rs
  server/service/transaction_service.rs
Labels: domain: server

#7439 Enable GRPC transaction and query options
  Cargo.lock
  Cargo.toml
  common/options/options.rs
  dependencies/typedb/repositories.bzl
  resource/constants.rs
  server/Cargo.toml
  server/service/grpc/mod.rs
  server/service/grpc/options.rs
  server/service/grpc/transaction_service.rs
  server/service/http/message/error.rs
  server/service/http/message/query/mod.rs
  server/service/http/message/transaction.rs
  server/service/http/transaction_service.rs
  server/service/transaction_service.rs
  tests/behaviour/service/http/http_steps/lib.rs
  tests/behaviour/service/http/http_steps/query.rs
Labels: type: feature, priority: high, domain: server

#7438 Add span to returned query-structure
  compiler/transformation/relation_index.rs
  ir/pattern/constraint.rs
  ir/translation/constraints.rs
  server/service/http/message/query/query_structure.rs
Labels: domain: server

#7440 Support query 'end' markers
  .gitignore
  Cargo.lock
  Cargo.toml
  common/error/Cargo.toml
  common/structural_equality/Cargo.toml
  compiler/Cargo.toml
  compiler/tests/transformation.rs
  concept/Cargo.toml
  database/Cargo.toml
  dependencies/typedb/repositories.bzl
  diagnostics/Cargo.toml
  encoding/Cargo.toml
  executor/Cargo.toml
  executor/tests/compile_execute.rs
  executor/tests/execute_expression.rs
  executor/tests/execute_function.rs
  executor/tests/pipelines.rs
  executor/tests/writes.rs
  function/Cargo.toml
  ir/Cargo.toml
  ir/tests/pattern.rs
  ir/tests/structural_equality.rs
  ir/translation/expression.rs
  ir/translation/literal.rs
  query/Cargo.toml
  query/benches/bench_insert_queries.rs
  query/benches/bench_insert_queries_multithreaded.rs
  query/tests/define.rs
  query/tests/fetch.rs
  query/tests/unimplemented.rs
  server/Cargo.toml
  server/service/grpc/transaction_service.rs
  server/service/http/transaction_service.rs
  storage/Cargo.toml
  storage/benches/BUILD
  system/Cargo.toml
  system/lib.rs
  system/repositories.rs
  tests/behaviour/service/http/http_steps/Cargo.toml
  tests/behaviour/steps/Cargo.toml
  tests/behaviour/steps/params/Cargo.toml
  tests/behaviour/steps/query/typeql.rs
  tests/benchmarks/iam/bench_iam.rs
  user/Cargo.toml
Labels: type: refactor, priority: medium

#7442 Execute deletes in two passes - first constraints, then concepts
  dependencies/typedb/repositories.bzl
  executor/pipeline/delete.rs
  executor/pipeline/insert.rs
  executor/pipeline/put.rs
  executor/pipeline/update.rs
  resource/constants.rs
Labels: type: bug, domain: executor
