Repository typedb/typedb, pull requests merged in 2025-08, with the labels that each got.

#7543 Open schema and data commit method for extension
  compiler/executable/match_/planner/plan.rs
  database/database.rs
  database/database_manager.rs
  database/transaction.rs
  executor/read/stream_modifier.rs
  server/service/grpc/transaction_service.rs
  server/service/grpc/typedb_service.rs
  server/service/http/message/error.rs
  server/service/http/transaction_service.rs
  server/service/http/typedb_service.rs
  server/service/transaction_service.rs
  server/state.rs
  storage/keyspace/mod.rs
  storage/snapshot/snapshot.rs
  storage/storage.rs
Labels: type: refactor, priority: high

#7553 Store answers in a hash table as well to avoid slow inserts in large table
  Cargo.lock
  Cargo.toml
  WORKSPACE
  common/cache/Cargo.toml
  common/concurrency/Cargo.toml
  database/Cargo.toml
  database/tools/Cargo.toml
  dependencies/typedb/repositories.bzl
  diagnostics/Cargo.toml
  executor/BUILD
  executor/Cargo.toml
  executor/read/tabled_functions.rs
  query/Cargo.toml
  server/Cargo.toml
  system/Cargo.toml
  tests/behaviour/service/http/http_steps/Cargo.toml
  tests/behaviour/steps/Cargo.toml
Labels: type: bug, domain: executor

#7561 Enforce stratification through single return functions
  dependencies/typedb/repositories.bzl
  function/function_manager.rs
  function/lib.rs
Labels: type: bug

#7559 Support inserting attributes from values of other attributes
  answer/variable_value.rs
  dependencies/typedb/repositories.bzl
  executor/write/write_instruction.rs
Labels: type: bug, domain: executor
