Repository typedb/typedb, pull requests merged in 2025-07, with the labels that each got.

#7494 Reduce usages of assert! that don't need to be assert!
  common/error/error.rs
  compiler/annotation/type_inference.rs
  compiler/annotation/type_seeder.rs
  durability/wal.rs
  ir/translation/constraints.rs
  server/parameters/config.rs
  storage/isolation_manager.rs
Labels: type: refactor, domain: server

#7517 Simple renaming
  answer/variable_value.rs
  executor/batch.rs
  executor/instruction/iterator.rs
  executor/instruction/mod.rs
  executor/pipeline/fetch.rs
  executor/pipeline/modifiers.rs
  executor/read/immediate_executor.rs
  executor/read/nested_pattern_executor.rs
  executor/read/tabled_call_executor.rs
  executor/reduce_executor.rs
  executor/row.rs
  ir/pattern/conjunction.rs
  ir/pattern/constraint.rs
  ir/pattern/disjunction.rs
  ir/pattern/mod.rs
  ir/pattern/negation.rs
  ir/pattern/nested_pattern.rs
  ir/pattern/optional.rs
  ir/translation/fetch.rs
  ir/translation/mod.rs
  ir/translation/modifiers.rs
  ir/translation/reduce.rs
  ir/translation/writes.rs
  server/service/grpc/row.rs
  server/service/http/message/query/row.rs
  tests/behaviour/steps/query/typeql.rs
Labels: type: refactor, domain: server

#7518 Rename config and CLI fields to align with the naming conventions
  server/config.yml
  server/lib.rs
  server/parameters/cli.rs
  server/parameters/config.rs
Labels: type: refactor, domain: server

#7520 Separate out optional & negation type inference
  compiler/annotation/match_inference.rs
  compiler/annotation/type_annotations.rs
  compiler/annotation/type_inference.rs
  compiler/annotation/type_seeder.rs
Labels: domain: language

#7526 Only seek on iterators that are behind in merge
  common/lending_iterator/kmerge.rs
  executor/instruction/iterator.rs
Labels: type: bug, priority: blocker

#7522 Add server status retrieval
  Cargo.lock
  dependencies/typedb/repositories.bzl
  diagnostics/metrics.rs
  main.rs
  resource/constants.rs
  resource/distribution_info.rs
  resource/resource.rs
  server/Cargo.toml
  server/error.rs
  server/lib.rs
  server/parameters/cli.rs
  server/service/grpc/migration/export_service.rs
  server/service/grpc/response_builders.rs
  server/service/grpc/typedb_service.rs
  server/service/http/error.rs
  server/service/http/message/error.rs
  server/service/http/typedb_service.rs
  server/state.rs
  server/status.rs
  tests/behaviour/service/http/http_steps/connection/mod.rs
  tests/behaviour/steps/connection/mod.rs
  tests/behaviour/steps/lib.rs
Labels: type: feature, domain: server

#7536 Publicly expose GRPC error traits to reuse in cluster
  server/service/grpc/error.rs
  server/service/grpc/mod.rs
  server/service/http/message/mod.rs
  server/service/http/message/version.rs
  server/service/mod.rs
  tests/behaviour/service/http/http_steps/connection/mod.rs
  tests/behaviour/service/http/http_steps/message.rs
Labels: domain: build
