Repository typedb/typedb, pull requests merged in 2025-05, with the labels that each got.

#7448 Don't fetch validation data until required
  concept/thing/thing_manager/validation/commit_time_validation.rs
  resource/profile.rs
  server/service/grpc/transaction_service.rs
  storage/snapshot/buffer.rs
  storage/storage.rs
Labels: type: bug, priority: high, domain: server

#7450 Add HTTP schema retrieval, root and version endpoints
  .factory/automation.yml
  dependencies/typedb/repositories.bzl
  server/server.rs
  server/service/grpc/typedb_service.rs
  server/service/http/message/version.rs
  server/service/http/typedb_service.rs
  server/service/mod.rs
  server/service/typedb_service.rs
  tests/behaviour/service/http/debug/debug.feature
  tests/behaviour/service/http/http_steps/connection/database.rs
  tests/behaviour/service/http/http_steps/connection/mod.rs
  tests/behaviour/service/http/http_steps/lib.rs
  tests/behaviour/service/http/http_steps/message.rs
Labels: type: feature, domain: server

#7447 Add yaml configuration file & logging to file
  .factory/automation.yml
  BUILD
  Cargo.lock
  Cargo.toml
  common/logger/BUILD
  common/logger/Cargo.toml
  common/logger/logger.rs
  compiler/Cargo.toml
  concept/Cargo.toml
  database/tools/Cargo.toml
  dependencies/typedb/repositories.bzl
  diagnostics/Cargo.toml
  encoding/Cargo.toml
  ir/Cargo.toml
  main.rs
  resource/constants.rs
  server/BUILD
  server/Cargo.toml
  server/config.yml
  server/parameters/cli.rs
  server/parameters/config.rs
  server/parameters/mod.rs
  server/server.rs
  server/service/grpc/encryption.rs
  server/service/http/encryption.rs
  storage/Cargo.toml
  tests/behaviour/service/http/http_steps/Cargo.toml
  tests/behaviour/service/http/http_steps/connection/mod.rs
  tests/behaviour/steps/Cargo.toml
  tests/behaviour/steps/connection/mod.rs
  tests/behaviour/steps/lib.rs
  tests/behaviour/steps/params/Cargo.toml
Labels: domain: server

#7454 Prune branch ids when pruning away unsatisfiable disjunction branches
  compiler/executable/pipeline.rs
  compiler/query_structure.rs
  ir/pattern/disjunction.rs
  query/query_manager.rs
  server/service/http/message/query/query_structure.rs
Labels: domain: language

#7455 Update windows CI patch & guard against patching failure
  .circleci/windows/deploy_snapshot.bat
  .circleci/windows/git.patch
Labels: domain: build

#7456 Apply the patch for Windows CI jobs only in prepare.bat
  .circleci/windows/deploy_release.bat
  .circleci/windows/deploy_snapshot.bat
  .circleci/windows/prepare.bat
Labels: domain: build

#7459 Revise query structure output to be IR instead of edges
  ir/pattern/disjunction.rs
  query/query_manager.rs
  server/service/http/message/query/query_structure.rs
Labels: type: refactor, domain: server

#7461 Rename involved_branches to involved_blocks
  dependencies/typedb/repositories.bzl
  server/service/http/message/query/query_structure.rs
  server/service/http/message/query/row.rs
Labels: type: refactor, domain: server

#7463 Fix variable visibility during translation
  dependencies/typedb/repositories.bzl
  ir/lib.rs
  ir/pipeline/block.rs
  ir/translation/reduce.rs
  ir/translation/writes.rs
  tests/behaviour/debug/debug.feature
  tests/behaviour/query/BUILD
  tests/behaviour/query/language/mod.rs
  tests/behaviour/query/language/validation.rs
Labels: type: bug, domain: language

#7464 Overriding config file location via CLI is now relative to working directory
  BUILD
  main.rs
  server/parameters/cli.rs
  server/parameters/config.rs
Labels: domain: server

#7460 Add 'z' parsing for datetime-tz
  ir/translation/literal.rs
Labels: type: bug, priority: blocker, domain: language

#7468 Fix variable category check for 'is' constraints
  dependencies/typedb/repositories.bzl
  ir/pipeline/block.rs
Labels: type: bug, domain: language

#7471 Fix provenance updates from function calls
  executor/read/nested_pattern_executor.rs
  executor/read/tabled_call_executor.rs
Labels: type: bug, domain: executor

#7474 Fix forcing development mode in the config
  main.rs
  server/parameters/cli.rs
  server/parameters/config.rs
  tests/behaviour/query/BUILD
  tests/behaviour/service/http/http_steps/BUILD
  tests/behaviour/service/http/http_steps/connection/mod.rs
  tests/behaviour/steps/BUILD
  tests/behaviour/steps/connection/mod.rs
Labels: type: bug, domain: server
